{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section id="data-view">
    <h1>Edit Geo Item</h1>
    {% if edited %}
    <div class="alert alert-success" role="alert">
        Editing successful
    </div>

    <form action="/unicef/geodata">
        <input type="submit" class="btn btn-success" value="Return to Geo Data">
    </form>
    {% else %}
    
    <span class="span12">
        <div class="data-table-container table table-striped table-hover">
            <form id="edit_form" method="post" action="/unicef/geo-edit/{{id}}/">
                {% csrf_token %}
                {{ geo_form.as_p }}
                <input type="submit"  class="btn btn-primary btn-lg" name="submit" value="Save" />
            </form>
            
            <div style="clear: both;"></div>
        </div>
    </span>
    {% endif %}
</section>
{% endblock %}
