{% extends 'base_test.html' %}

{% block additional-headers %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-multiselect.css" type="text/css"/>

    <!--Data Table -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/plugins/select2/select2_metro.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/data-tables/DT_bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/js/DataTables/datatables.css">


    <style type="text/css">


        .scroll {

            overflow-y: auto;
            overflow-x: hidden;
            height: 200px;
        }

        .align {
            text-align: center;
        }

        .textAlign {
            text-align: left;
        }

        .exportMargin {

            margin-bottom: 2%;
        }

        .form-label {
            font-weight: 600 !important;
            font-size: 24px;
            text-align: center;
            padding-bottom: 5px;
            border-bottom: 1px solid #222;
        }

    </style>

{% endblock %}


{% block content %}

      <h3 class="form-label"> Monitoring of Selected Assumptions</h3>

    <div class="row">


        <div class="col-md-4" style="float: left">
            <div class="form-group">
                <a class="btn btn-success red-custom" href="/hhmodule/eyfw/assumptions_form/">Add Assumption</a>
            </div>
        </div>
    </div>


        <div class="row">

        <div class="col-md-12 ">

            <table id="assumptions_list"
                   class="table table-bordered table-hover exportMargin">
                <caption class="textAlign">

                </caption>
                <thead>

                </thead>
                <tbody>

                </tbody>
            </table>

        </div>


    </div>


{% endblock %}

{% block additional-javascript %}

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-multiselect.js"></script>


    <!--Data Table -->
    <!--  <script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/DataTables/datatables.js"></script>
  -->

    <!--datatable -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
    <!--datatable ended-->



    <script type="text/javascript" src="/static/js/custom_data_view.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>



    <script>

        var id_string = '{{ id_string|safe  }}'
        var username = '{{ username | safe }}'


        // On page load

        $(document).ready(function () {

            makingTableWithAjaxCall()
        });

                // Making Table with Ajax call --------

        function makingTableWithAjaxCall() {

            $.ajax({
                type: 'POST',
                url: '/hhmodule/eyfw/generate_assuption_list/',
                success: function (data) {

                    tableData = data.jsonAssumptionList
                    generateAssumptionTable(tableData, id_string, username);
                }

            });

        }


        // Function for Generating Table


        function generateAssumptionTable(tableData, id_string, username) {

            var thead = ''
            thead += '<tr> <th>Assumption</th> <th>Evidence</th> <th>Strength of assumption</th></tr>'

            var tbody = ''
            for (var i = 0; i < tableData.length; i++) {

              //  viewLink = '/' + username + '/' + 'forms' + '/' + id_string + '/' + 'instance' + '/' + '?s_id=' + tableData[i].id + '#/' + tableData[i].id
              //  editlink = '/hhmodule/eyfw/learning_agenda_form/' + id_string + '/' + tableData[i].id

                tbody += '<tr>'
                tbody += '<td>' + tableData[i].assumption + '</td><td>' + tableData[i].evidence + '</td> <td>' + tableData[i].strength_assumption + '</td>'
                tbody += '</tr>'

            }

            $('#assumptions_list').find('thead').html(thead)
            $('#assumptions_list').find('tbody').html(tbody)

            // $('#feedback_list_table').DataTable()
            $('#assumptions_list').dataTable({
                "retrieve": true,
                "bFilter": true,
                "paging": true,
                "scrollCollapse": true,
                select: true,
                // dom: 'Bfrtip',
                dom: 'Blfrtip',
                buttons: [{extend: 'excel', text: "Export Excel", title: 'Assumption List'}],
                ordering: true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "scrollX": true,
                "order":[] ,// Latest Learning Agenda will be shown on the top
                /* Disable initial sort */



            });


        }


    </script>

{% endblock %}