{% extends 'base_test.html' %}

{% block additional-headers %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-multiselect.css" type="text/css"/>

    <!--Data Table -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/plugins/select2/select2_metro.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/data-tables/DT_bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/js/DataTables/datatables.css">


    <!-- Project Dasboard  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/feedback_dashboard_style.css" type="text/css"/>


    <style type="text/css">
        ul li {
            /* Bullet color */
            color: #5DCDC5;
            list-style-type: disc;
        }

        .text1 {
            /* Text color */
            color: #000 !important;
        }

        .border {

            border: 1px gainsboro solid;
        }


    </style>

{% endblock %}


{% block content %}

    <div class="row">
        <!--<h3 class="page-title">
            Dashboard
            <small>reports &amp; statistics</small>
        </h3>-->


        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="dashboard-stat green-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ totalFeedback }}
                    </div>
                    <div class="desc">
                        Total Feedback
                    </div>
                </div>
                <a class="more" href="javascript:;">
                </a>
            </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="dashboard-stat purple-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ totalFeedbackMode1 }}
                    </div>
                    <div class="desc">
                        Oral/Face to face
                    </div>

                </div>
                <a class="more" href="javascript:;">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="dashboard-stat green-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ totalFeedbackMode2 }}
                    </div>
                    <div class="desc">
                        Written
                    </div>

                </div>
                <a class="more" href="javascript:;">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="dashboard-stat pink-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ totalFeedbackMode3 }}
                    </div>
                    <div class="desc">
                        Email
                    </div>
                </div>
                <a class="more" href="javascript:;">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="dashboard-stat purple-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ totalFeedbackMode4 }}
                    </div>
                    <div class="desc">
                        Phone call/SMS
                    </div>
                </div>
                <a class="more" href="javascript:;">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="dashboard-stat light-green-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ totalFeedbackMode5 }}
                    </div>
                    <div class="desc">
                        Postal
                    </div>
                </div>
                <a class="more" href="javascript:;">
                    {#                    View more <i class="m-icon-swapright m-icon-white"></i>#}
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="dashboard-stat pink-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ totalFeedbackMode6 }}
                    </div>
                    <div class="desc">
                        Other
                    </div>
                </div>
                <a class="more" href="javascript:;">
                    {#                    View more <i class="m-icon-swapright m-icon-white"></i>#}
                </a>
            </div>
        </div>

    </div>
    <div class="row">


        <div class="col-lg-12">
            <div class="portlet-title orang">
                <center>Feedback Status</center>
            </div>
            <div class="col-lg-3" style="padding-left: 1px">
                <div class="portlet-title-sub" style="background: #1ABB44 ;color: white">Feedback Resolved</div>
                <div class="s-contaion">
                    <div class="">
                        <div id="feedback_resolved">
                        </div>
                    </div>
                    <div class="f-contaion" style="background: #1ABB44 ; color: white ;">
                        Total: {{ totalStatus }}<br> Feedback Resolved: {{ statusTotal1 }}

                    </div>

                </div>
            </div>
            <div class="col-lg-3" style="padding: 1px">
                <div class="portlet-title-sub" style="background: #ff0066 ; color: white ;"> Referred</div>
                <div class="s-contaion">
                    <div class="">
                        <div id="feedback_referred">
                        </div>
                    </div>
                    <div class="f-contaion" style="background: #ff0066 ; color: white ;">
                        Total: {{ totalStatus }}<br> Referred: {{ statusTotal2 }}

                    </div>

                </div>
            </div>
            <div class="col-lg-3" style="padding-right: 1px">
                <div class="portlet-title-sub" style="background: #5D0C82 ; color: white ;">Under Process</div>
                <div class="s-contaion">
                    <div class="">
                        <div id="under_process">
                        </div>
                    </div>
                    <div class="f-contaion" style="background: #5D0C82 ; color: white ;">
                        Total: {{ totalStatus }}<br> Under Process: {{ statusTotal3 }}

                    </div>

                </div>
            </div>

            <div class="col-lg-3" style="padding-left: 1px">
                <div class="portlet-title-sub" style="background: #1ABB44 ;color: white">Not Responded</div>
                <div class="s-contaion">
                    <div class="">
                        <div id="not_responded">
                        </div>
                    </div>
                    <div class="f-contaion" style="background: #1ABB44 ; color: white ;">
                        Total: {{ totalStatus }}<br> Not Responded : {{ statusTotal4 }}

                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="portlet-title">
                <center></center>
            </div>
            <div class="col-lg-6 border" style="">
                <div class="">
                    <div id="feedback_provider">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 border " style=" margin-left: 10px;
    width: 49%;
    height: 403px;">
                <div class="">
                    <div id="partner_wise_feedback_received_resolved">
                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}

{% block additional-javascript %}

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-multiselect.js"></script>


    <!--Data Table -->
    <!--  <script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/DataTables/datatables.js"></script>
  -->

    <!--datatable -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
    <!--datatable ended-->



    <script type="text/javascript" src="/static/js/custom_data_view.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>




    <script>


        $(document).ready(function () {

            jsonFeedbackProviderList = {{ jsonFeedbackProviderList |safe }}
                FeedbackProviderList = jsonFeedbackProviderList.FeedbackProviderList
            feedbckProvider = ['1', '2', '3', '4', '5', '6']
            feebbackFinalList = []

            console.log(feedbckProvider)

            for (var i = 0; i < feedbckProvider.length; i++) {

                for (var j = 0; j < FeedbackProviderList.length; j++) {

                    if (FeedbackProviderList[j]['mode'] == feedbckProvider[i]) {
                        feebbackFinalList.push(FeedbackProviderList[j]['count'])
                        console.log("OK" + j)
                        status = 1
                        break

                    }
                    else {
                        status = 0
                    }
                }

                if (status == 0) {

                    feebbackFinalList.push(0)
                }
            }


            feedback_resolved = [
                ['Complete', {{ percentageStatus1 | safe}}],
                ['Incomplete', (100 -{{ percentageStatus1 }})]
            ]
            feedback_referred = [
                ['Complete', {{ percentageStatus2| safe}}],
                ['Incomplete', (100 -{{ percentageStatus2}})]
            ]
            under_process = [
                ['Complete', {{ percentageStatus3 | safe}}],
                ['Incomplete', (100 -{{ percentageStatus3}})]
            ]

            not_responded = [
                ['Complete', {{ percentageStatus4 | safe}}],
                ['Incomplete', (100 -{{ percentageStatus4}})]
            ]
            partner_wise_summary_budget_data = [{
                name: 'Budget(EURO)',
                data: [171175, 31286, 64055, 19873, 19895]

            }, {
                name: 'Expenditure(EURO)',
                data: [116519, 20663, 25278, 17273, 17291]

            }]

            {#            jsonDataList('soft_skill', '78', 'pie', true, false, false, soft_skill)#}
            {#            jsonDataList('tech_skill', '18', 'pie', true, false, false, tech_skill)#}
            {#            jsonDataList('enterpreneurial_skill', '5', true, 'pie', false, false, tech_skill)#}
            {#            jsonDataList('partner_wise_summary_budget', '' ,false,'column', false, false, partner_wise_summary_budget_data)#}
            {##}


            budget = [
                ['Project Management', 171175],
                ['Meal', 31286],
                ['Agency & Capacity', 64055],
                ['Economic Oppotunities', 19873],
                ['Policy & Norms', 19895]
            ]


            Expenditure = [
                ['Project Management', 116519],
                ['Meal', 20663],
                ['Agency & Capacity', 25278],
                ['Economic Oppotunities', 17273],
                ['Policy & Norms', 17291]
            ]
            dashboard('feedback_resolved', '{{ percentageStatus1 | safe }}', feedback_resolved)
            dashboard('feedback_referred', '{{ percentageStatus2 | safe }}', feedback_referred)
            dashboard('under_process', '{{ percentageStatus3 | safe }}', under_process)
            dashboard('not_responded', '{{ percentageStatus4 | safe }}', not_responded)
            dashboardFeebackProvider('feedback_provider', 'Feedback Provider', feebbackFinalList)


        });


        Highcharts.setOptions({
            colors: ['#ff0066', '#A79EA3', '#1ABB44', '#5D0C82', '#9ECD18', '#F4F004', '#F4F004', '#F9DC23']
        });

        function dashboard(div, title, data) {

            Highcharts.chart(div, {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    height: 160
                },
                title: {
                    text: title + "%",
                    margin: 0,
                    y: 10,
                    x: 0,
                    align: 'center',
                    verticalAlign: 'middle',


                },
                tooltip: {
                    enabled: false,
                    pointFormat: '{point.y}%</b>'
                },


                plotOptions: {
                    pie: {
                        //center: [45, 50],
                        allowPointSelect: false,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },

                        innerSize: '60%'


                    }
                },
                series: [{
                    colorByPoint: true,
                    data: data
                }],

                credits: {
                    enabled: false
                },
                exporting: {enabled: false}


            });

        }


        Highcharts.chart('partner_wise_feedback_received_resolved', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Partner-wise Feeback Received & Resolved',
                style:{
                    'color': '#53297D',
                }
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                // categories: ['Project Managemetn', 'Meal', 'Agency & Capacity', 'Economic Opportunities', 'Policy & Norms'],
                categories: ['ASSEDO', 'CODEC', 'RDRS', 'UCEP', 'WAVE Foundation', 'Oxfam'],

                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
                /*formatter: function () {
                 var s = '<b>' +'kk' + '</b>';

                 $.each(this.points, function () {
                 s += '<br/>Value: ' + this.y;
                 });

                 s+= '<br>Diff: ' + ( this.points[0].y - this.points[1].y );

                 return s;
                 }*/
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Received',
                data: {{ totalReceivedList | safe }}

            }, {
                name: 'Resolved',
                data: {{ totalResolvedList | safe }}

            }],

            credits: {
                enabled: false
            },
            exporting: {enabled: false}
        });

        //   Feedback Provider


        function dashboardFeebackProvider(div, title, data) {

            Highcharts.chart(div, {
                chart: {
                    type: 'column'
                },
                title: {
                    text: title,
                    style:{

                    'color': '#53297D',
                }
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    // categories: ['Project Managemetn', 'Meal', 'Agency & Capacity', 'Economic Opportunities', 'Policy & Norms'],
                    categories: ['Beneficiary', 'Non-beneficiary', 'Partner/partner staff', 'Gov\'t staff', 'Oxfam staff', 'Anonymous'],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px ; color:#e70052">{point.key}</span><table>',
                    pointFormat: '<td style="padding:0"><b>{point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true,
                    style: {
                        color: 'black',
                        fontWeight: 'bold'
                    }

                    /*formatter: function () {
                     var s = '<b>' +'kk' + '</b>';

                     $.each(this.points, function () {
                     s += '<br/>Value: ' + this.y;
                     });

                     s+= '<br>Diff: ' + ( this.points[0].y - this.points[1].y );

                     return s;
                     }*/
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }

                },
                series: [{
                    data: data

                }],

                credits: {
                    enabled: false
                },
                exporting: {enabled: false},
                legend: {
                    enabled: false
                },
            });

        }
        function dashboardBudget(div, title, data) {

            Highcharts.chart(div, {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    height: 160,


                },
                title: {
                    text: title,
                    margin: 0,
                    y: 0,
                    x: 0,
                    align: 'center',
                    verticalAlign: 'middle',
                    style: {

                        fontSize: '18px'
                    }

                },
                tooltip: {
                    pointFormat: '{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },

                        innerSize: '80%',
                        size: '125%'


                    }
                },
                series: [{
                    colorByPoint: true,
                    data: data
                }],

                credits: {
                    enabled: false
                },
                exporting: {enabled: false}


            });

        }


    </script>

{% endblock %}
