<table id ="benelist_table_id" class="table table-bordered table-hover table-fixed table-striped">
        <thead>

            <th> Id </th>
            <th> Date </th>
            <th> Activity Name </th>
            <th> Activity Type </th>
            <th> Activity Level </th>
            <th> No of Female </th>
            <th> No of male </th>



        </thead>
        <tbody>
        {% for data in dataset %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.date}}</td>
            <td>{{data.activity_name}}</td>
            <td>{{data.activity_type}}</td>
            <td>{{data.activity_take_place}}</td>
            <td>{{data.female_indirect_beneficiary}}</td>
            <td>{{data.male_indirect_beneficiary}}</td>


        </tr>
        {% endfor %}
        </tbody>
</table>


