<table id ="narrative_dataList_table_id" class="table table-bordered table-hover table-fixed table-striped">
        <thead>

            <th> Month </th>
            <th> NGO </th>
            <th>Action </th>

        </thead>
        <tbody>
        {% for data in dataset %}
        <tr>
            <td>{{data.month}}</td>
            <td>{{data.ngo}}</td>
            <!--<td><a href="/hhmodule/eyfw/beneficiary_profile/{{ data.id }}" target="_blank" class="btn red btn-md" type="button" data-original-title="" title="">View</a></td>-->
            <td>
                <a  href = "/media/narrative_report/{{ data.file_path }}"   class="btn btn-primary btn-md" type="button" data-original-title="" title="">View</a>
                <a onclick="delete_entity({{data.id}})"  class="btn red-custom btn-md" type="button" data-original-title="" title="">Delete</a>
            </td>


        </tr>
        {% endfor %}
        </tbody>
    </table>