{% extends 'base_test.html' %}

{% block additional-headers %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-multiselect.css" type="text/css"/>

    <!--Data Table -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/plugins/select2/select2_metro.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/data-tables/DT_bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/js/DataTables/datatables.css">


    <!-- Project Dasboard  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/project_dashboard_style.css" type="text/css"/>


    <style type="text/css">
        ul li {
            /* Bullet color */
            color: #5DCDC5;
            list-style-type: disc;
        }

       .text1{
            /* Text color */
            color: #000 !important;
        }

        .border{

            border: 1px gainsboro solid;
        }


    </style>

{% endblock %}


{% block content %}

    <div class="row">
        <!--<h3 class="page-title">
            Dashboard
            <small>reports &amp; statistics</small>
        </h3>-->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        40000
                    </div>
                    <div class="desc">
                        Direct Beneficiary
                    </div>
                    <div class="desc">
                        Male: 1800 | Female: 12000
                    </div>
                </div>
                <a class="more" href="javascript:;">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat pink-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        30000
                    </div>
                    <div class="desc">
                        Indirect Beneficiary
                    </div>
                    <div class="desc">
                        Male: 1700 | Female: 12000
                    </div>
                </div>
                <a class="more" href="javascript:;">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        30000
                    </div>
                    <div class="desc">
                        Person Training Received
                    </div>
                    <div class="desc">
                        Male: 1700 | Female: 12000
                    </div>
                </div>
                <a class="more" href="javascript:;">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat light-green-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        3600
                    </div>
                    <div class="desc">
                        Ward Level
                    </div>
                    <div class="desc">
                        Youth Growth
                    </div>
                </div>
                <a class="more" href="javascript:;">
                    {#                    View more <i class="m-icon-swapright m-icon-white"></i>#}
                </a>
            </div>
        </div>
    </div>
    <div class="row">


        <div class="col-lg-6">
            <div class="portlet-title">
                <center>Key Training Achievement</center>
            </div>
            <div class="col-lg-4" style="padding-left: 1px">
                <div class="portlet-title-sub" style="background: #1ABB44 ;color: white">Soft Skills</div>
                <div class="s-contaion">
                    <div class="">
                        <div id="soft_skill">
                        </div>
                    </div>
                    <div class="f-contaion" style="background: #1ABB44 ; color: white ;">Total: 3200<br>Male: 1500 |
                        Female: 1700
                    </div>

                </div>
            </div>
            <div class="col-lg-4" style="padding: 1px">
                <div class="portlet-title-sub" style="background: #ff0066 ; color: white ;">Tech Skills</div>
                <div class="s-contaion">
                    <div class="">
                        <div id="tech_skill">
                        </div>
                    </div>
                    <div class="f-contaion" style="background: #ff0066 ; color: white ;">Total: 3200<br>Male: 1500 |
                        Female: 1700
                    </div>

                </div>
            </div>
            <div class="col-lg-4" style="padding-right: 1px">
                <div class="portlet-title-sub" style="background: #5D0C82 ; color: white ;">Ent. Skills</div>
                <div class="s-contaion">
                    <div class="">
                        <div id="enterpreneurial_skill">
                        </div>
                    </div>
                    <div class="f-contaion" style="background: #5D0C82 ; color: white ;">Total: 3200<br>Male: 1500 |
                        Female: 1700
                    </div>

                </div>
            </div>
        </div>


        <div class="  col-lg-6">
            <div class="portlet-title">
                <center>Strategic Progress</center>
            </div>
            <div class="border" style="height: 258px">
                <ul class="listStyle">

                    <li><span class="text1">MoU signed with Access to Information (a2i) Programme</span></li>
                    <li><span class="text1">Mou signed woth Department of Youth Development</span></li>
                    <li><span class="text1">Partnership made with Maya Apa</span></li>
                    <li><span class="text1">Partnership mad with SIYB, ILO</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="portlet-title" style="background: black ; color: white">
                <center>Expenditure Summary</center>
            </div>
            <div class="col-lg-6 border" style="">
                <h4>
                    <center>Overall Summary Budget-Year-2017 Q1</center>
                </h4>
                <br>
                <div class="">
                    <div id="budget">
                    </div>
                </div>
                <br><br>
                <div class="">
                    <div id="expenditure">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 border " style="margin-left: 11px;
    width: 49%;
    height: 421px;">
                <div class="">
                    <div id="partner_wise_summary_budget">
                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}

{% block additional-javascript %}

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-multiselect.js"></script>


    <!--Data Table -->
    <!--  <script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/DataTables/datatables.js"></script>
  -->

    <!--datatable -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
    <!--datatable ended-->



    <script type="text/javascript" src="/static/js/custom_data_view.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>




    <script>


        $(document).ready(function () {

            soft_skill = [
                ['Complete', 78],
                ['Incomplete', 22]
            ]
            tech_skill = [
                ['Complete', 18],
                ['Incomplete', 82]
            ]
            ent_skill = [
                ['Complete', 5],
                ['Incomplete', 95]
            ]
            partner_wise_summary_budget_data = [{
                name: 'Budget(EURO)',
                data: [171175, 31286, 64055, 19873, 19895]

            }, {
                name: 'Expenditure(EURO)',
                data: [116519, 20663, 25278, 17273, 17291]

            }]

            {#            jsonDataList('soft_skill', '78', 'pie', true, false, false, soft_skill)#}
            {#            jsonDataList('tech_skill', '18', 'pie', true, false, false, tech_skill)#}
            {#            jsonDataList('enterpreneurial_skill', '5', true, 'pie', false, false, tech_skill)#}
            {#            jsonDataList('partner_wise_summary_budget', '' ,false,'column', false, false, partner_wise_summary_budget_data)#}
            {##}


            budget = [
                ['Project Management', 171175],
                ['Meal', 31286],
                ['Agency & Capacity', 64055],
                ['Economic Oppotunities', 19873],
                ['Policy & Norms', 19895]
            ]


            Expenditure = [
                ['Project Management', 116519],
                ['Meal', 20663],
                ['Agency & Capacity', 25278],
                ['Economic Oppotunities', 17273],
                ['Policy & Norms', 17291]
            ]
            dashboard('soft_skill', '78', soft_skill)
            dashboard('tech_skill', '18', tech_skill)
            dashboard('enterpreneurial_skill', '5', ent_skill)
            dashboardBudget('budget', 'Budget', budget)
            dashboardBudget('expenditure', 'Expenditure', budget)


        });


        Highcharts.setOptions({
            colors: ['#ff0066', '#A79EA3', '#1ABB44', '#5D0C82', '#9ECD18', '#F4F004', '#F4F004', '#F9DC23']
        });

        function dashboard(div, title, data) {

            Highcharts.chart(div, {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    height: 160
                },
                title: {
                    text: title + "%",
                    margin: 0,
                    y: 0,
                    x: 0,
                    align: 'center',
                    verticalAlign: 'middle',


                },
                tooltip: {
                    pointFormat: '{point.y}%</b>'
                },


                plotOptions: {
                    pie: {
                        center: [45, 50],
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },

                        innerSize: '80%'


                    }
                },
                series: [{
                    colorByPoint: true,
                    data: data
                }],

                credits: {
                    enabled: false
                },
                exporting: {enabled: false}


            });

        }


        Highcharts.chart('partner_wise_summary_budget', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Partner-wise Summary Budget-Year-2017 Q1'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                // categories: ['Project Managemetn', 'Meal', 'Agency & Capacity', 'Economic Opportunities', 'Policy & Norms'],
                categories: ['Oxfam', 'RDRS', 'ASSEDO', 'WAVE Foundation', 'CODEC', 'UCEP'],

                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Budget',
                data: [171175, 31286, 64055, 19873, 19895, 19895]

            }, {
                name: 'Expenditure',
                data: [116519, 20663, 25278, 17273, 17291, 17291]

            }],

            credits: {
                enabled: false
            },
            exporting: {enabled: false}
        });


        function dashboardBudget(div, title, data) {

            Highcharts.chart(div, {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    height: 160,


                },
                title: {
                    text: title,
                    margin: 0,
                    y: 0,
                    x: 0,
                    align: 'center',
                    verticalAlign: 'middle',
                    style: {

                        fontSize: '18px'
                    }

                },
                tooltip: {
                    pointFormat: '{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },

                        innerSize: '80%',
                        size: '125%'


                    }
                },
                series: [{
                    colorByPoint: true,
                    data: data
                }],

                credits: {
                    enabled: false
                },
                exporting: {enabled: false}


            });

        }


    </script>

{% endblock %}
