{% extends "base_test.html" %}
{% block additional-headers %}
    <link href="/static/css/datepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-multiselect.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/static/js/DataTables/datatables.css">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.css' rel='stylesheet'/>
    <style type="text/css">
    .multiselect_class button{
        height: 50px; !important;
        font-size: 14px;
        font-weight: 400;
        color: #000000;!important;
        background: #fafafa;
        border: none;
        box-shadow: none;
        border-radius: 0;
        padding-left: 15px;
    }
    .multiselect_class button{
        background-color:#53297D;
        height: 42px;
    }

    </style>
{% endblock %}

{% block content %}


    <div class ="row"><div class = "col-md-12" style = "margin-bottom: 50px;"></div></div>
    <ul class="nav nav-tabs" >
        <li class="active"><a style="font-size: 13px;" href="#tab_1_1" data-toggle="tab">Monthly report</a></li>
        <li class=""><a style="font-size: 13px;" href="#tab_1_2" data-toggle="tab">Upload monthly report</a></li>


    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="tab_1_1">

            <div class ="row">
                <div class = "col-md-12">
                <div class="form-group">
                    <div  class = "col-md-5 multiselect_class">

                        <label class="control-label">Month </label><br>
                        <!--<label>Month</label>
                        <!--<input class="datepicker_month_year " value="{{ month_latest }}" id="report_month" maxlength="50" name="month" type="text">-->
                        <select class="form-control multiple_style" style="background-color:#53297D;" id="month_id" multiple="multiple"
                                style="buttonWidth: '100%'">

                            {% for m in existingMonth %}
                                <option value="{{ m }}">{{ m }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    </div>
                <div class="form-group">


                    <div  class = "col-md-4">
                        <label class="control-label">NGO</label>
                         <select class="form-control" id="report_ngo" name="ngo">
                            <option value="%" {% if  ngo_latest == '%' %} selected="selected" {% endif %}>All</option>
                            <option value="1" {% if  ngo_latest == '1'%} selected="selected" {% endif %} >ASSEDO (Agriculture Sustainable and Socio-Economic Development  Organisation</option>
                            <option value="2" {% if  ngo_latest == '2'%} selected="selected" {% endif %}>CODEC ( Community Development Centre)</option>
                            <option value="3" {% if  ngo_latest == '3'%} selected="selected" {% endif %}>RDRS (Rangpur Dinajpur Rural Services)</option>
                            <option value="4" {% if  ngo_latest == '4'%} selected="selected" {% endif %}>UCEP ( Underprivileged Childrens Education Program)</option>
                            <option value="5" {% if  ngo_latest == '5'%} selected="selected" {% endif %}>WAVE Foundation</option>
                            <option value="6" {% if  ngo_latest == '6'%} selected="selected" {% endif %}>Oxfam Novib</option>
                         </select>
                    </div>

                </div>
                    <div class="form-group">
                    <div class = "col-md-3" style="margin-top:35px;">

                        <button class=" btn red-custom" id="report_filter">Search</button><br>
                    </div>
                </div>
                </div>
                </div><br><br>

            <div class = "col-md-12" >
                <button id = "monthly_repo" class = "btn btn-primary" style = "margin-bottom: 10px;"><span style="color: #F5F5F5;" class="glyphicon glyphicon-circle-arrow-down"></span> Export</button>
            </div>
            <div class ="row">
                <div class = "col-md-12">
                    <div id ="mon_report_table_div">
                        {% include "eyfw/monthly_report_table.html" %}

                    </div>

                </div>
            </div>
            </div>



        <div class="tab-pane fade" id="tab_1_2">

            <!--Load Program Form-->
            <div id="add_report_form_div">

                {% include "eyfw/report_form.html" %}
            </div>
            <div class ="col-md-12" style = "margin-top: 10px;">

                   <h4> Monthly Data List</h4>

                <div id="monthlyData_table_block">

                </div>
            </div>
        </div>

 </div>
    </div>
    <!-- data upload success modal-->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                        <h4 class="modal-title" id="myModalLabel">Data has been uploaded successfully.</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn  btn-success" data-dismiss="modal">Close</button>
                        </button>
                    </div>
                </div>
            </div>
    </div>
    <!--modal ended-->
    <!-- data delete success modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                        <h4 class="modal-title" id="myModalLabel">Data has been uploaded successfully.</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn  btn-success" data-dismiss="modal">Close</button>
                        </button>
                    </div>
                </div>
            </div>
    </div>
    <!--modal ended-->
{% endblock %}

{% block additional-javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/static/js/jquery.table2excel.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>-->
        <script>
         $( ".datepicker_month_year" ).each(function() {
            $(this).datepicker({format:"M yyyy",autoclose:true  });
        });


        $(document).ready(function () {
            $('#month_id').multiselect({
                buttonWidth: '60%',
                numberDisplayed: 1,
                includeSelectAllOption: true,
            });
            var monArr = []
            //var monArr =['{{ month_latest | safe }}'];
            monArr.push('{{ month_latest | safe }}')
            //console.log('monArr::'+monArr);
            $('#month_id').val(monArr);
            $("#month_id").multiselect("refresh");

            getMonthlyDataListTable();

        });

        function getMonthlyDataListTable(){
            $.ajax({
                url: '/hhmodule/eyfw/getMonthlyDataList/',
                type: 'POST',
                success: function (data) {
                    $("#monthlyData_table_block").html(data);
                    $('#monthly_dataList_table_id').dataTable({
                                "retrieve": true,
                                "bFilter": true,
                                "paging": true,
                                "scrollCollapse": true,
                                select: true,
                                ordering: true,
                                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                                "scrollX": true

                            });

                }
            });
    //}
    }
    function showAjaxConfirmationMessages(data) {
            $("#div_flash_messages").html("");
            $("#div_flash_messages").append("<div class='alert alert-" + data.type + " fade in'><a class='close' href='#' data-dismiss='alert'>×</a> <p>" + data.messages + "</p></div>");
    }
    $(document).on("submit", "#upload_data_form", function (event) {
            event.preventDefault();
            form_url = $(this).attr('action');
            var data = new FormData(this); // <-- 'this' is form element
            //return formData;
            $.ajax({
                type: 'POST',
                url: form_url,
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    //showAjaxConfirmationMessages(data);
                     $('#successModal').modal('show');
                    getMonthlyDataListTable();
                },
                error: function (xhr, status, error) {
                    $("#add_report_form_div").html(xhr.responseText);
                    //load_OneToManyRelation();
                }
            }); //ajax end
        });

        function edit_entity(ngo,month){
            console.log(month+"====="+ngo);
            $.ajax({
                type : 'GET',
                url : "/hhmodule/eyfw/edit_report_data/"+ngo+"/"+month+"/",
                success : function(data) {
                    $("#add_report_form_div").html(data);
                    //load_datepicker();
                }
            }); //ajax end
        }

        function delete_entity(ngo,month){
            console.log(month+"====="+ngo);
            if(confirm("Are you sure you want to delete this?")){
                $.ajax({
                type : 'GET',
                url : "/hhmodule/eyfw/delete_report_data/"+ngo+"/"+month+"/",
                success : function(data) {
                    //showAjaxConfirmationMessages(data);
                    $('#deleteModal').modal('show');
                    getMonthlyDataListTable();
                }
            }); //ajax end
            }
            else{
                return false;
            }

        }

        $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
            var tab_id = $(e.target).attr('href');
            if (tab_id == '#tab_1_2') {
                //generateHHListTable({{ hh_list_data|safe }});
            } else if (tab_id == '#tab_1_3') {
                //generateSLAListTable({{ sla_list_data|safe }});
            }
            else if (tab_id == '#tab_1_4') {
               // getTrainingTable();
            }
        })



        $("#report_filter" ).on( "click", function() {
            var report_month = $('#month_id').val();
            var report_ngo = $('#report_ngo').val();

            //$('#mon_report_table_div').html('');
            if (report_month != '') {
                $.ajax({
                    url: '/hhmodule/eyfw/get_report_filter_data/',
                    type: 'POST',
                    data: {
                        'report_month': report_month,
                        'report_ngo': report_ngo
                    },
                    success: function (result) {
                        $('#mon_report_table_div').html(result);
                        //updateReportTotalValues();
                    }
                });
            }
            else{
                alert("Please select month");
            }
        });


        $("#monthly_repo").click(function(){
            console.log("trigger export");
              $("#monthly_report_table").table2excel({
                // exclude CSS class
                  //exclude: ".noExl",
                  name: "Results",
                  filename: "MonthlyReport.xls"

              });
            });

        function updateReportTotalValues() {
            var ratingTdText = 0;

            $("tbody").find("tr").each(function() { //get all rows in table

            tempratingTdText = parseInt($(this).find('td.target_male').text());
            //gets the text out of the rating td for this row
            ratingTdText = ratingTdText+tempratingTdText;

        });
        console.log(ratingTdText)
        }

    </script>
{% endblock %}