<table id ="budgetExpense_dataList_table_id" class="table table-bordered table-hover table-fixed table-striped">
        <thead>

            <th> Quarter </th>
            <th> Year </th>
            <th>Organization </th>
            <th> Particular</th>
            <th>Project Management </th>
            <th> Meal</th>
            <th> Agency & Capacity</th>
            <th> Economic Opportunities</th>
            <th> Policy & Norms</th>
            <th>Action</th>

        </thead>
        <tbody>
        {% for data in dataset %}
        <tr>
            <td>{{data.quarter}}</td>
            <td>{{data.year}}</td>
            <td>{{data.ngo_name}}</td>
            <td>{{data.bud_expen}}</td>
            <td>{{data.project_management}}</td>
            <td>{{data.meal}}</td>
            <td>{{data.agency_capacity}}</td>
            <td>{{data.economic_opportunities}}</td>
            <td>{{data.policy_norms}}</td>
            <!--<td><a href="/hhmodule/eyfw/beneficiary_profile/{{ data.id }}" target="_blank" class="btn red btn-md" type="button" data-original-title="" title="">View</a></td>-->
            <td>
                <a onclick="edit_entity('{{data.id}}')"  class="btn green btn-md" type="button" data-original-title="" title="">Edit</a><br><br>
                <a onclick="delete_entity('{{data.id}}')"  class="btn red btn-md" type="button" data-original-title="" title="">Delete</a>
            </td>


        </tr>
        {% endfor %}
        </tbody>
    </table>

