{% extends 'base_test.html' %}
{% load i18n %}
{% block additional-headers %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link href="/static/css/calendar.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}

    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i> Score Card
            </div>
        </div>

        <div class="portlet-body">
            <form class="horizontal-form" id="" method="post" action="/planmodule/update_scorecard_form/"
                  enctype="multipart/form-data">
                <input type="hidden" id="scorecard_id" name="scorecard_id" >
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Date of Score Card Execution: </label>
                                <div class="ui calendar"  id="execution_date">
                                    <input type="text" class="form-control" name="execution_date" value="{{ execution_date }}" required readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group" hidden>
                                <label>From Date: </label>
                                <div class="ui calendar" id="from_date" >
                                    <input type="text" class="form-control" name="from_date" value="{{ from_date }}" required readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group" hidden>
                                <label>To Date: </label>
                                <div class="ui calendar" id="to_date" >
                                    <input type="text" class="form-control" name="to_date" value="{{ to_date }}" required readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label >District: </label>
                                <select class="form-control" name="district" id="district" onclick="load_upazila(this)" required>
                                        <option value="{{ district_id }}" selected>{{ district_name }}</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label >Upazila: </label>
                                <select class="form-control" name="upazila" id="upazila" onclick="load_union(this)" required>
                                    {% for upz_id,upz_name in upazila %}
                                        {% if upz_id == upazila_id %}
                                            <option value="{{ upz_id }}" selected>{{ upz_name }}</option>
                                            {% else %}
                                            <option value="{{ upz_id }}">{{ upz_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Facility Name">Facility Name:</label>
                                <select class="form-control" name="facility_name" id="facility_name"
                                        onclick="loadtype(this)" required>
                                    {% for facility_id,facility_name in facility %}
                                        {% if facility_id == set_facility_id %}
                                            <option value="{{ facility_id }}" selected>{{ facility_name }}</option>
                                            {% else %}
                                            <option value="{{ facility_id }}" >{{ facility_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Facility Type: </label>
                                <textarea class="form-control" id="facility_type_text_area" readonly></textarea>
                                <input type="hidden" class="form-control" name="facility_type" id="facility_type"
                                       value="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Average Score Adolescents">Average Score Adolescents:</label>
                                <input type="number" step="0.01" class="form-control" name="average_score_adolescents"
                                       id="average_score_adolescents"
                                       required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Average Score Service Providers">Average Score Service Providers:</label>
                                <input type="number" step="0.01" class="form-control"
                                       name="average_score_service_providers" id="average_score_service_providers"
                                       required>
                            </div>
                        </div>
                    </div>


                <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="">PNGO:</label>
                                <textarea class="form-control" readonly>{{  org_name }}</textarea>
                                <input type="hidden" class="form-control" name="org_id" id="org_id"
                                     value="{{ org_id }}">
                            </div>
                        </div>
                    </div>

                <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Major Comments Adolescents">Major Comments Adolescents:</label>
                                <textarea type="text" class="form-control" name="major_comments_adolescents"
                                          id="major_comments_adolescents" required></textarea>
                            </div>
                        </div>
                    </div>

                 <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Major Comments Service Providers">Major Comments Service Providers:</label>
                                <textarea type="text" class="form-control" name="major_comments_service_providers"
                                          id="major_comments_service_providers" required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-danger pull-left" id="submit" name="submit" type="submit"
                                    data-original-title=""
                                    title="">Submit
                            </button>
                            <button onclick="history.go(-1);" style="margin-left:10px;" type="button"
                                    class="btn btn-info pull-left" data-original-title="" title="">Cancel
                            </button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
{% endblock %}
{% block additional-javascript %}
{#    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>#}
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script type="text/javascript" src="/static/js/calendar.min.js"></script>
    <script type="text/javascript">

        $('#from_date').calendar({
            type: 'month', endCalendar: $('#to_date'),
            popupOptions: {
                position: 'bottom right'
            }
            ,
            onChange: function (date, text, mode) {
                $('#to_date').calendar({
                    type: 'month', startCalendar: $('#from_date'),
                    popupOptions: {
                        position: 'bottom right'
                    },
                    maxDate: new Date(date.getFullYear(), date.getMonth() + 3)
                });
            }

        });


        $('#to_date').calendar({
            type: 'month', startCalendar: $('#from_date'),
            popupOptions: {
                position: 'bottom right'
            }, isDisabled: function (date, mode) {
                return true;
            }

        });



        $('#execution_date').calendar({
            type: 'date',
            popupOptions: {
                position: 'bottom right'
            },
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';

                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();

                    if (day < 10) {
                        day = '0' + day
                    }
                    if (month < 10) {
                        month = '0' + month
                    }
                    return year + '-' + month + '-' + day;
                }
            }
        });


        var data = {{ data|safe }};

        $('#scorecard_id').val(data['scorecard_id']);
        $('#average_score_adolescents').val(data['average_score_adolescents']);
        $('#average_score_service_providers').val(data['average_score_service_providers']);
        $('#major_comments_adolescents').val(data['major_comments_adolescents']);
        $('#major_comments_service_providers').val(data['major_comments_service_providers']);

        if (data['facility_type'] == '1') {
            $('#facility_type_text_area').val("FWCC");
            $('#facility_type').val(1);
        }

        else {
            $('#facility_type').val(2);
            $('#facility_type_text_area').val("CC");
        }



        function loadtype(obj) {
            ajaxcall();
            obj = parseInt(obj.value);
            if (isNaN(parseFloat(obj))) {
                $('#facility_type_text_area').val("");
            }
            else {

                $.ajax({
                    url: '/planmodule/getType/',
                    type: 'POST',
                    dataType: 'json',
                    data: {'obj': obj},
                    {#                    beforeSend: function () {#}
                    {#                        $("#all_info_table").html('<div class="alert alert-success">Please Wait...loading....</div>');#}
                    {#                    },#}
                    success: function (result) {
                        if (result[0].facility_type == '1') {
                            $('#facility_type_text_area').val("FWCC");
                            $('#facility_type').val(1);
                        }

                        else {
                            $('#facility_type').val(2);
                            $('#facility_type_text_area').val("CC");
                        }


                    }
                });
            }
        }


        function ajaxcall() {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
        }

        function load_upazila(dist_object) {
            ajaxcall();
            dist = parseInt(dist_object.value)
            console.log(dist);
            if (isNaN(parseFloat(dist))) {
                $('#upazila').html("<option value=\"\">Select One</option>");
            }
            else {

                $.ajax({
                    url: '/planmodule/getUpazilas/',
                    type: 'POST',
                    dataType: 'json',
                    data: {'dist': dist},
                    {#                    beforeSend: function () {#}
                    {#                        $("#all_info_table").html('<div class="alert alert-success">Please Wait...loading....</div>');#}
                    {#                    },#}
                    success: function (result) {
                        console.log(result);
                        var html_code = "<option value=\"\">Select One</option>";

                        for (i = 0; i < result.length; i++) {
                            html_code += "<option value=\"" + result[i].id + "\"> " + result[i].field_name + "</option>";
                        }
                        $('#upazila').html(html_code);


                    }
                });
            }

        }


        function load_union(upz_object) {
            ajaxcall();
            upz = parseInt(upz_object.value)
            console.log(upz);
            if (isNaN(parseFloat(upz))) {
                $('#union').html("<option value=\"\">Select One</option>");
            }
            else {

                $.ajax({
                    url: '/planmodule/getUnions/',
                    type: 'POST',
                    dataType: 'json',
                    data: {'upz': upz},
                    {#                    beforeSend: function () {#}
                    {#                        $("#all_info_table").html('<div class="alert alert-success">Please Wait...loading....</div>');#}
                    {#                    },#}
                    success: function (result) {
                        console.log(result);
                        var html_code = "<option value=\"\">Select One</option>";

                        for (i = 0; i < result.length; i++) {
                            html_code += "<option value=\"" + result[i].id + "\"> " + result[i].field_name + "</option>";
                        }
                        $('#union').html(html_code);


                    }
                });
            }

        }


        $(function () {
            $('#registration_date').datepicker({
                endDate: '0d',
                format: 'yyyy-mm-dd',
                todayHighlight: true
            }).on('changeDate', function () {
                $(this).datepicker('hide');
            });

        });

        function getDesiredDate(n) {
            var today = new Date();
            var n_month_before_today = new Date(today);
            n_month_before_today.setMonth((today.getMonth() + 1) - n);
            var dd = n_month_before_today.getDate();
            var mm = n_month_before_today.getMonth() + 1;

            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }
            var yyyy = n_month_before_today.getFullYear();
            formatted_date = yyyy + '-' + mm + '-' + dd;
            return formatted_date;
        }

    </script>

{% endblock %}