<table id ="shared_file_table_id" class="table table-bordered table-hover table-fixed table-striped">
        <thead>

            <th> Id </th>
            <th> Title </th>
            <th> Document Type </th>
            <th> Uploaded by</th>
            <th> Date</th>
            <th> Action </th>

        </thead>
        <tbody>
        {% for data in dataset %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.title}}</td>
            <td>{{data.document_type}}</td>
            <td>{{data.username}}</td>
            <td>{{data.created_date}}</td>
            <!--<td><a href="/planmodule/eyfw/beneficiary_profile/{{ data.id }}" target="_blank" class="btn red btn-md" type="button" data-original-title="" title="">View</a></td>-->
            <td>
                <a  href = "/media/shared_file/{{ data.shared_file }}"   class="btn btn-primary btn-md" type="button" data-original-title="" title="">View</a>
                {% if cntrl_remove_btn = '1' %}
                <a onclick="delete_entity({{data.id}})"  class="btn  btn-danger btn-md" type="button" data-original-title="" title="">Remove</a>
                {% endif %}
                <a onclick="shareLink('{{ data.shared_file }}')"  class="btn green btn-md" type="button" data-original-title="" title="">Share link</a>
            </td>


        </tr>
        {% endfor %}
        </tbody>
    </table>


<script>
    function shareLink(link) {
            console.log("trigger make page");
            var host_port = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
            var w = window.open();
            var html = '<h3>' + host_port+'/media/shared_file/'+link + '</h2>';
            $(w.document.body).html(html);

        }




</script>