{% load crispy_forms_tags %}
<div id="div_flash_messages"></div>
            <div class ="row">
                 <form name="dynamic_form" id="upload_data_form" enctype="multipart/form-data"  method="post" action = "/planmodule/eyfw/file_share/" novalidate>
                    {% csrf_token %}
                     <div class = "col-md-12">
                        <div class="page-header align">
                            <h3>Document Storage</h3>
                        </div>
                        <!--<div class="col-md-12"><label class="control-label">NGO Name </label><br>
                            <select class="form-control" id = "ngo" name ="ngo">
                                <option>Select Any</option>
                                <option value ="1">RDRS</option>
                                <option value ="2">Oxfam</option>
                            </select>
                        </div>
                        <div class="col-md-12"><label class="control-label">Start Month </label><br>
                            <input class="form-control datepicker_month_year" type ="text" name ="start_month" >
                        </div>
                        <div class="col-md-12"><label class="control-label">End Month </label><br>
                            <input class="form-control datepicker_month_year" type ="text" name ="end_month">
                        </div>
                        <div class="col-md-12"><label class="control-label">Upload File </label><br>
                            <input class="form-control" type ="file" name ="ex_file">
                        </div>-->
                        {% crispy form form.helper %}
                         <div class="col-md-7">
                         </div>
                         <div class = "row"></div>
                        <div class="col-md-12"><input class="btn btn-success red-custom" type="submit" value="Submit"/></div>
                    </div>
                 </form>

            </div>
