<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css"/>
    <link href="{{ STATIC_URL }}assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/vex.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/vex-theme-kobo.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ STATIC_URL }}assets/css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="/static/oxfam/assets/css/layout.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/oxfam/assets/css/layout.min.css" rel="stylesheet" type="text/css"/>


    <style>
        .fa-plus-circle, .fa-minus-circle {
            cursor: pointer;
        }

        .field_error {
            color: #ff0000;
            position: absolute;
            font-size: 12px;
        }

        .iterator_fields {
            display: inline-block;
            background-color: #eee;
            margin-top: 15px;
            padding-top: 15px;
            padding-right: 15px;
        }

        .form-control-feedback {
            right: 10px;
        }

        .form-label {
            font-weight: 600 !important;
            font-size: 24px;
            text-align: center;
            padding-bottom: 5px;
            border-bottom: 1px solid #222;
        }

        label {
            font-weight: 600;
            height: 34px;
        }

        .margin_link {
            margin-left: 25px;
            margin-bottom: 25px;
        }
    </style>
</head>
<body class="page-header-fixed page-sidebar-fixed page-footer-fixed">
<!-- BEGIN HEADER -->
<!-- BEGIN HEADER -->
<header class="header navbar-fixed-top">
<div class="top-bg"></div>
  <!-- Navbar -->
  <nav class="navbar" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="menu-container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse"> <span class="sr-only">Toggle navigation</span> <span class="toggle-icon"></span> </button>

        <!-- Logo -->
        <div class="logo"> <a class="logo-wrap" href="/"> <img class="logo-img logo-img-main" src="{{ STATIC_URL }}oxfam/assets/images/logo.png" alt="Asentus Logo"> </a> </div>
        <!-- End Logo -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse nav-collapse">
        <div class="menu-container">
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/oxfam/knowledge/">Knowledge Management Portal</a></li>
            <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/hhmodule/eyfw/generate_dashboard/">Results Monitoring Portal </a></li>
            {% if request.user.is_anonymous %}
              <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/">login</a></li>
              {% endif %}
					</ul>
    </div>
</div>
      <!-- End Navbar Collapse -->
    </div>
  </nav>
  <!-- Navbar -->
</header>
<!-- END HEADER -->
<div class="clearfix"></div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    {% include "topbar_test.html" %}
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">

        <h3 class="form-label"> Knowledge Management Portal -- Add Content</h3>

        <div class="row">
            <div class="col-md-3" style="float: left">
                <div class="margin_link"><a class="btn btn-success form-group red-custom" style="align-content: flex-start"
                                            href="/hhmodule/eyfw/knowledge_management_portal/">Knowledge Management
                    Portal</a></div>
            </div>

{#            <div class="col-md-2" style="float: left">#}
{##}
{#                <div class="form-group">#}
{#                    <a class="btn btn-success red-custom" href="/hhmodule/eyfw/kmp_contents_list_approval/"> Knowledge Management#}
{#                        Portal Approval</a>#}
{#                </div>#}
{#            </div>#}

        </div>

        <div class="input_fields_wrap" style="min-height: 720px;">
            <form name="dynamic_form" id="dynamic_form" method="post" class="" novalidate>
                <input type="hidden" id="edit_instance_id" value=""/>
                <div id="mainDiv" ng-controller="myCtrl as vms">

                    <div class="form-group ">
                        <div class="col-md-3"><label>Date</label></div>
                        <div class="input-group col-md-3"><input ng-model="vms.model.date" name="date"
                                                                 is-open="vms.isChangeDatePickerOpen1"
                                                                 class="datepicker form-control" max-date="vms.maxDate"
                                                                 readonly
                                                                 datepicker-popup="{{ vms.datePickerFormat }}"
                                                                 min-date="vms.minDate" validation-error-to="date_error"
                                                                 datepicker-options="vms.dateOptions"
                                                                 validation="required"
                                                                 type="text" datepicker-mode="day"/><span
                                class="input-group-btn"> <button
                                data-ng-click="vms.openDatePicker($event,'isChangeDatePickerOpen1')"
                                type="button" class="btn btn-default"> <i
                                class="glyphicon glyphicon-calendar"></i></button></span></div>
                        <span class="field_error" id="date_error"></span></div>


                    <div class="form-group ">
                        <div class="col-md-3"><label>Type of Input</label></div>
                        <div class="input-group col-md-3"><select
                                validation-error-to="type_input_error" class="form-control" validation="required"
                                name="type_input" ng-model="vms.model.type_input"
                                ng-change="disableDetails = (vms.model.type_input == 4);
                                           disableNewsLink = (vms.model.type_input == 2 ) || (vms.model.type_input == 3 ) ">
                            <option value>-- Select Type of Input --</option>
                            {#                            <option value="1">Picture</option>#}
                            <option value="2">Video</option>
                            <option value="3">Story</option>
                            <option value="4">News</option>
                            {#                            <option value="5">Audio</option>#}
                        </select></div>
                        <span class="field_error" id="type_input_error"></span></div>
                    <div class="form-group ">
                        <div class="col-md-3"><label>Theme</label></div>
                        <div class="input-group col-md-3"><select validation-error-to="theme_error"
                                                                  class="form-control"
                                                                  validation="" name="theme"
                                                                  ng-model="vms.model.theme">
                            <option value>-- Select Theme --</option>
                            <option value="1">Agency/Soft-Skills</option>
                            <option value="2">Capacity/Skills-entrepreneurial</option>
                            <option value="3">Capacity/Skills-technical</option>
                            <option value="4">Finance</option>
                            <option value="5">Government/Public Policy</option>
                            <option value="6">SME/Decent Work</option>
                            <option value="7">SRHR/GBV/Carework</option>
                        </select></div>
                        <span class="field_error" id="theme_error"></span></div>
                    <div class="form-group">
                        <div class="col-md-3"><label>Event</label></div>
                        <div class="input-group col-md-3"><select validation-error-to="event_error"
                                                                  class="form-control"
                                                                  validation="" name="event"
                                                                  ng-model="vms.model.event">
                            <option value>-- Select Event --</option>
                            <option value="1">Day Observation</option>
                            <option value="2">Launching</option>
                            <option value="3">Seminar/Meeting</option>
                            <option value="4">Workshop</option>
                            <option value="5">Others</option>
                        </select></div>
                        <span class="field_error" id="event_error"></span></div>
                    <div class="form-group">
                        <div class="col-md-3"><label>Title </label></div>
                        <div class="input-group col-md-3"><input
                                ng-model="vms.model.title_english" name="title_english"
                                validation-error-to="title_english_error" validation="required" type="text"
                                class="form-control"/></div>
                        <span class="field_error" id="title_english_error"></span></div>
                    {#                    <div class="form-group">#}
                    {#                        <div class="col-md-3"><label>Title In Bangla</label></div>#}
                    {#                        <div class="input-group col-md-3"><input#}
                    {#                                ng-model="vms.model.title_bangla" name="title_bangla"#}
                    {#                                validation-error-to="title_bangla_error" validation="required" type="text"#}
                    {#                                class="form-control"/></div>#}
                    {#                        <span class="field_error" id="title_bangla_error"></span></div>#}

                    <div class="form-group">
                        <div class="col-md-3"><label>Upload Input</label></div>
                        <div class="input-group col-md-3"><input type="file" ngf-select
                                                                 ng-model="vms.model.upload_input" name="upload_input"
                                                                 accept="{$ uploadType[vms.model.type_input] $}"
                                                                 ngf-max-size="20MB" required
                                                                 ngf-model-invalid="errorFile" id="upload"
                                                                 class="form-control"></div>
                        <!-- <img ngf-thumbnail="file || '/media/cupadmin/attachments/1501149812_cupadmin_image.png'">-->
                    </div>

                    <div class="form-group">
                        <div class="col-md-3"><label>Details </label></div>
                        <div class="input-group col-md-9"><textarea rows="4"
                                                                    ng-model="vms.model.details_content"
                                                                    name="details_content"
                                                                    validation-error-to="details_content_error"
                                                                    validation="required" type="text"
                                                                    class="form-control"
                                                                    ng-disabled="disableDetails"></textarea></div>
                        <span class="field_error" id="details_content_error"></span></div>

                    <div class="form-group">
                        <div class="col-md-3"><label>News Link </label></div>
                        <div class="input-group col-md-3"><input
                                ng-model="vms.model.news_link" name="news_link"
                                validation-error-to="news_link_error" validation="required" type="text"
                                class="form-control" ng-disabled="disableNewsLink"/></div>
                        <span class="field_error" id="news_link_error"></span></div>

                    <div class="form-group">
                        <div class="col-md-3"><label>Related to any member</label></div>
                        <div class="input-group col-md-3"><select
                                validation-error-to="related_to_member_error" class="form-control" validation="required"
                                name="related_to_member" ng-model="vms.model.related_to_member" id="related_to_member"
                                ng-change="disableInputs = (vms.model.related_to_member == 2) ||(vms.model.related_to_member == 3) || (vms.model.related_to_member == 4) ">
                            <option value>-- Select Related to any member --</option>
                            <option value="1">Beneficiary</option>
                            <option value="2">Community Member</option>
                            <option value="3">Policy Maker</option>
                            <option value="4">SME Related</option>
                        </select></div>
                        <span class="field_error" id="related_to_member_error"></span></div>
                    <div class="form-group">
                        <div class="col-md-3"><label>If Beneficiary then type Beneficiary ID</label></div>
                        <div class="input-group col-md-3"><input
                                ng-model="vms.model.beneficiary_id" name="beneficiary_id"
                                validation-error-to="beneficiary_id_error" validation="" type="text"
                                class="form-control" ng-disabled="disableInputs"/></div>
                        <span class="field_error" id="beneficiary_id_error"></span></div>

                    <div class="col-md-12">


                        <input ng-disabled="dynamic_form.$invalid" type="submit" style="margin-left: 240px"
                               class="btn blue-custom pull-left"
                               ng-click="uploadPic(vms.model);"
                               value="Submit"/>

                        &nbsp;<a class="btn red-custom" href="/hhmodule/eyfw/add_new_content/">Cancel</a>

                    </div>
                </div>
            </form>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{% include "footer_test.html" %}
<!-- END FOOTER -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>
<script src="{{ STATIC_URL }}vendor/angular-translate/angular-translate.min.js"></script>
<script src="{{ STATIC_URL }}vendor/angular-translate/angular-translate-loader-static-files.min.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/jquery/jquery.min.js"></script>
<script src="/static/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/ghiscoding/angular-validation.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/XMLWriter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/xml2json.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
<script src="https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js"></script>
<script src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>
<script src="/static/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/respond.min.js"></script>
<script src="/static/assets/plugins/excanvas.min.js"></script>
<script src="/static/js/application.js"></script>
<script src="/static/assets/scripts/app.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
<script src="https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js"></script>
<script src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>


<script type="text/javascript">
jQuery(document).ready(function() {
       $("ul").each(
         function() {
           var elem = $(this);
           if (elem.children().length == 0) {
             elem.remove();
           }
         }
       );

       $(".sub-menu").each(
           function() {
               var elem = $(this);
               if (elem.children().length >= 1) {
                 elem.prev('a').append('<span class="arrow open"></span>')
               }
             }
       );

       if($('.sub-menu-li').hasClass('active')){
           $('.active').parent().parent().addClass('active');

       }

        App.init();
        });


    var id_string = '{{ id_string }}';

    function generateXML(inputObj, instance_id) {
        var xw = new XMLWriter('UTF-8');
        xw.writeStartDocument();
        xw.writeStartElement(id_string);
        xw.writeAttributeString('id', id_string);
        xw.writeStartElement('formhub');
        xw.writeStartElement('uuid');
        xw.writeString('{{ form_uuid }}');
        xw.writeEndElement();
        xw.writeEndElement();
        for (var ppx in inputObj) {
            xmlrecursive(xw, ppx, inputObj[ppx]);
        }
        xw.writeStartElement('meta');
        xw.writeStartElement('instanceID');
        xw.writeString('uuid:' + guid());
        xw.writeEndElement();
        if (instance_id != '') {
            var uuid = jsonObj[id_string].meta.instanceID.split(':')[1];
            xw.writeStartElement('deprecatedID');
            xw.writeString('uuid:' + uuid);
            xw.writeEndElement();
        }
        xw.writeEndElement();
        xw.writeEndElement();
        xw.writeEndDocument();
        var xml = xw.flush();
        xw = undefined;
        return xml;
    }

    function xmlrecursive(xml, key, value) {
        if (typeof value !== "undefined") {
            if (typeof value === "object" && Array.isArray(value) != true) {
                //get rid of root elements
                if (key.indexOf("_q_") >= 0) {
                    key = key.split('_q_')[0];
                }
                //get rid of parent elements
                if (key.indexOf("__") >= 0) {
                    key = key.split("__")[key.split("__").length - 1]
                }
                //start writing element
                xml.writeStartElement(key);
                for (var idx in value) {
                    //if element has children then recursively call again
                    xmlrecursive(xml, idx, value[idx]);
                }
                xml.writeEndElement();
            } else {
                //get rid of parent elements
                if (key.indexOf("__") >= 0) {
                    key = key.split("__")[key.split("__").length - 1]
                }
                //start writing element
                xml.writeStartElement(key);
                //check for array type of multiple select
                if (Array.isArray(value) == true) {
                    value = value.join(" ");
                }
                xml.writeString(value);
                xml.writeEndElement();
            }
        }
    }

    var app = angular.module('myApp', ['ghiscoding.validation', 'ui.bootstrap', 'ngFileUpload']);

    app.config(['$compileProvider', function ($compileProvider) {
        $compileProvider.debugInfoEnabled(false);
    }]).config(['$translateProvider', function ($translateProvider) {
        $translateProvider.useStaticFilesLoader({
            prefix: '{{ STATIC_URL }}locales/validation/',
            suffix: '.json'
        });
        // load English ('en') table on startup
        $translateProvider.preferredLanguage('en').fallbackLanguage('en');
        $translateProvider.useSanitizeValueStrategy('escapeParameters');
    }]).config(function ($interpolateProvider) {
        $interpolateProvider.startSymbol('{$');
        $interpolateProvider.endSymbol('$}');
    });

    app.controller('myCtrl', ['$scope', 'ValidationService', '$http', 'Upload', '$timeout', function ($scope, ValidationService, $http, Upload, $timeout) {
        var vms = this;
        vms.model = {};
        // use the ValidationService only to declare the controllerAs syntax
        var vs = new ValidationService({controllerAs: vms});

        vms.isChangeDatePickerOpen1 = false;
        vms.isChangeDatePickerOpen2 = false;
        vms.datePickerFormat = 'dd/MM/yyyy';
        vms.dateOptions = {formatYear: 'yy'};

        vms.minDate = new Date(); // 10 years ago
        vms.minDate.setHours(0, 0, 0, 0);
        vms.minDate.setMonth(vms.minDate.getMonth() - 12 * 10);
        vms.maxDate = new Date(); // now
        vms.maxDate.setHours(0, 0, 0, 0);

        this.openDatePicker = function ($event, identifier) {
            $event.preventDefault();
            $event.stopPropagation();
            vms[identifier] = true;
        };


        $scope.data = {
            names: [{name: ""}]
        };

        $scope.username = '{{ username }}';

        $scope.addRow = function (index) {
            var name = {name: ""};
            if ($scope.data.names.length <= index + 1) {
                $scope.data.names.splice(index + 1, 0, name);
            }
        };

        $scope.deleteRow = function ($event, name) {
            var index = $scope.data.names.indexOf(name);
            if ($event.which == 1)
                $scope.data.names.splice(index, 1);
        }


        function replaceAll(str, mapObj) {
            var re = new RegExp(Object.keys(mapObj).join("|"), "gi");
            return str.replace(re, function (matched) {
                return mapObj[matched.toLowerCase()];
            });
        }

        $scope.parseCustomConstraints = function (selectedValue, rule, root, nIndex) {
            replacedRule = replaceAll(rule.replace(/\./g, selectedValue), {'and': '&&', 'or': '||'});
            if (rule.match(/\(([^)]+)\)/)) {
                if (root == 'root') {
                    replacedRule = replacedRule.replace(/\$\{/g, 'vms.model.')
                    replacedRule = replacedRule.replace(/\}/g, '')
                } else {
                    replacedRule = replacedRule.replace(/\$\{/g, 'vms.model.' + root + '__')
                    replacedRule = replacedRule.replace(/\}/g, '[' + nIndex + ']')
                }
            }

            if (!eval(replacedRule)) {

            }

        };

        var domTree = {
            "beneficiary_id": "root",
            "end": "root",
            "upload_input": "root",
            "title_bangla": "root",
            "details_content": "root",
            "title_english": "root",
            "start": "root",
            "theme": "root",
            "type_input": "root",
            "date": "root",
            "related_to_member": "root",
            "event": "root",
            "news_link":"root"
        };


        $scope.uploadType = {
            {#            '1': 'image/*',#}
            '2': 'video/*',
            '3': 'image/*',
            '4': 'image/*',
            {#            '5': 'audio/*'#}
        }

        var inputStore = {};
        $scope.ct = Math.floor(Date.now() / 1000);

        $scope.save = function () {
            var edit_instance_id = angular.element(document.querySelector('#edit_instance_id')).val();
            angular.forEach($scope.dynamic_form, function (element, name) {
                if (!name.startsWith('$')) {
                    if (name.indexOf('__') > 0) {
                        var child_name = name.substring(0, name.lastIndexOf("__"));
                    } else {
                        var child_name = name;
                    }
                    var parent = domTree[child_name];

                    if (typeof element.$viewValue == 'object') {
                        var element_to_save = $scope.ct.toString() + '_' + $scope.username + '_' + element.$viewValue.name.toString();
                    } else if (typeof element.$viewValue == 'undefined') {
                        var element_to_save = element.$viewValue;
                    }
                    else {
                        var element_to_save = element.$viewValue.toString();
                    }
                    if (parent == 'root') {
                        inputStore[child_name] = element_to_save;
                    } else {
                        if (inputStore.hasOwnProperty(parent + '_q_' + name.split('__')[name.split('__').length - 1])) {
                            inputStore[parent + '_q_' + name.split('__')[name.split('__').length - 1]][child_name] = element_to_save;
                        } else {
                            inputStore[parent + '_q_' + name.split('__')[name.split('__').length - 1]] = {}
                            inputStore[parent + '_q_' + name.split('__')[name.split('__').length - 1]][child_name] = element_to_save;
                        }
                    }
                }
            });
            var generatedXML = generateXML(inputStore, edit_instance_id);
            return generatedXML;
        };


        $scope.uploadPic = function (req) {
            xmltext = $scope.save();
            if (req.upload_input) {
                file = req.upload_input;

                file.upload = Upload.upload({
                    url: '/hhmodule/upload-formmedia/',
                    data: {ct: $scope.ct, username: $scope.username, file: file, xmltext: xmltext},
                });


                file.upload.then(function (response) {
                    $timeout(function () {
                        file.result = response.data;
                        if (response.data == 'success!') {
                            //window.location.href = '/usermodule/' + $scope.username + '/projects-views/' + id_string + '/';
                            window.location.href = '/hhmodule/eyfw/knowledge_management_portal/'

                        }
                    });
                }, function (response) {
                    if (response.status > 0) {
                        $scope.errorMsg = response.status + ': ' + response.data;
                    }
                }, function (evt) {
                    // Math.min is to fix IE which reports 200% sometimes
                    file.progress = Math.min(100, parseInt(100.0 * evt.loaded / evt.total));
                });
            } else {
                $http({
                    method: 'POST',
                    url: '/submit-xml-data/',
                    data: {'xml_submission_file': xmltext},
                    dataType: 'json',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8;'
                    }
                }).success(function (data) {
                    if (data == 'success!') {
                        //  window.location.href = '/usermodule/' + $scope.username + '/projects-views/' + id_string + '/';
                        window.location.href = '/hhmodule/eyfw/knowledge_management_portal/'
                    }
                });
            }
        }

        // ******  Nested Filter Initialize here  like :  $scope.opt_district = [];

        $scope.getExternalOptions = function (url, value, container) {
            if (typeof value != 'undefined' && value != '' && value != null) {
                $http({
                    method: 'POST',
                    url: url,
                    data: {'serach_key': value},
                    dataType: 'json',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).success(function (data) {
                    $scope[container] = data;
                });
            } else {
                $scope[container] = [];
            }
        }


        $scope.fillForm = function () {
            angular.element(document.querySelector('#edit_instance_id')).val({{instance_id}});


            angular.forEach($scope.dynamic_form, function (element, name) {
                if (!name.startsWith('$')) {
                    if (name.indexOf('__') > 0) {
                        var element_name = name.split('__')[name.split('__').length - 2];
                    } else {
                        var element_name = name;
                    }
                    element_arr = lookup(jsonObj, element_name);
                    if (element_arr != null) {
                        element.$setViewValue(element_arr[1]);
                        element.$render();
                    }
                }
            });
        }

        angular.element(document).ready(function () {
            $('.page-sidebar, .header').on('click', '.sidebar-toggler', function (e) {
                var body = $('body');
                var sidebar = $('.page-sidebar');

                if ((body.hasClass("page-sidebar-hover-on") && body.hasClass('page-sidebar-fixed')) || sidebar.hasClass('page-sidebar-hovering')) {
                    body.removeClass('page-sidebar-hover-on');
                    sidebar.css('width', '').hide().show();
                    $.cookie('sidebar_closed', '0');
                    e.stopPropagation();
                    runResponsiveHandlers();
                    return;
                }

                $(".sidebar-search", sidebar).removeClass("open");

                if (body.hasClass("page-sidebar-closed")) {
                    body.removeClass("page-sidebar-closed");
                    if (body.hasClass('page-sidebar-fixed')) {
                        sidebar.css('width', '');
                    }
                    $.cookie('sidebar_closed', '0');
                } else {
                    body.addClass("page-sidebar-closed");
                    $.cookie('sidebar_closed', '1');
                }
                //runResponsiveHandlers();
            });

            if (typeof jsonObj !== "undefined" && jsonObj !== null) {
                $scope.fillForm();
            }
        });

        // ***********  Nested filter LIke : DIst , Upazila , Union ********Code added Here********


    }])
    ;


    function guid() {
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
            s4() + '-' + s4() + s4() + s4();
    }

    function s4() {
        return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
    }

    function lookup(obj, k) {
        for (key in obj) {

            value = obj[key];
            if (k == key) return [k, value];

            if (type(value) == "Object") {
                var y = lookup(value, k);
                if (y && y[0] == k) return y;
            }
            if (type(value) == "Array") {
                // for..in doesn't work the way you want on arrays in some browsers
                //
                for (var i = 0; i < value.length; ++i) {
                    var x = lookup(value[i], k);
                    if (x && x[0] == k) return x;
                }
            }
        }

        return null;
    }

    function type(object) {
        var stringConstructor = "test".constructor;
        var arrayConstructor = [].constructor;
        var objectConstructor = {}.constructor;

        if (object === null) {
            return "null";
        } else if (object === undefined) {
            return "undefined";
        } else if (object.constructor === stringConstructor) {
            return "String";
        } else if (object.constructor === arrayConstructor) {
            return "Array";
        } else if (object.constructor === objectConstructor) {
            return "Object";
        } else {
            return "null";
        }
    }

    //edit portion
    xml_string = '{{ xml_data|safe }}';

    var x2js = new X2JS();
    var jsonObj = x2js.xml_str2json(xml_string);

</script>
</body>
</html>
