{% extends 'base_test.html' %}
{% load i18n %}
{% block additional-headers %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">

{% endblock %}
{% block content %}

    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i> Geo Form
            </div>
        </div>

        <div class="portlet-body">
            <form class="horizontal-form" id="" method="post" action="/usermodule/geo_form/" id="form"
                  enctype="multipart/form-data" onsubmit="return checkforblank()">
                {% csrf_token %}
               <input type="hidden" id="parent_id" name="parent_id" value="">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Field Name">Field Name:</label>
                                <input type="text" class="form-control" name="field_name" id="field_name"
                                       placeholder="Field Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Node Parent">Field Type:</label>
                                <select class="form-control" onchange="load1(this)" name="field_type" id="field_type"
                                        required>
                                    <option value="">Select One</option>
                                    {% for node_id,node_val in node %}
                                        <option value="{{ node_id }}">{{ node_val }}</option>
                                    {% endfor %}
                                </select>
                                <div class="field_parent"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Field Name">Geo Code:</label>
                                <br>
                                <div class="ui labeled input">
                                    <div class="ui label" id="parent_geocode"></div>
                                    <input type="text" maxlength="2" class="form-control" name="geocode" id="geocode"
                                       placeholder="Geo Code" required>

                                </div><br>
                                <span style="color:red;font-weight:bold" id ="alert_geocode">Duplicate Geocode Not Accepted</span>
                                <span style="color:red;font-weight:bold" id ="alert_geocode_length">Length of geocode must be 2</span>
                            </div>

                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <input id="geojsonfile" name="geojsonfile" type="file">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-danger pull-left" id="submit" name="submit" type="submit"
                                    data-original-title=""
                                    title="">Submit
                            </button>
                            <button onclick="history.go(-1);" style="margin-left:10px;" type="button"
                                    class="btn btn-info pull-left" data-original-title="" title="">Cancel
                            </button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
{% endblock %}
{% block additional-javascript %}
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script>
        function ajaxcall() {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
        }

        list = [];
        j = 0;
        var response, objet;
        var division_id = {{ division_id |safe }};
        console.log(division_id);

        function load1(obj) {
            ajaxcall();
            objet = Number(obj.value);
            $.ajax({
                url: '/usermodule/tree/',
                type: 'POST',
                dataType: 'json',
                data: {'objet': objet},
                success: function (result) {
                    response = result.response_record
                    $("#parent_id").val(result.parent_id);
                    $(".field_parent").html("");
                    if ($('#field_type option:selected').val() == division_id)
                        geocode = division_geocode;
                    if (Object.keys(response).length)
                        load(parseInt(Object.keys(response)[0]));

                }
            });
        }


        html_code = "";

        function load(obj) {
            ajaxcall();
            var field_type = obj;
            $.ajax({
                url: '/usermodule/form_drop/', // form action url
                type: 'POST', // form submit method get/post
                dataType: 'json', // request type html/json/xml
                data: {'field_type': field_type},
                success: function (result) {
                    html_code = "<label class=\"control-label\" id=\"field_parent_" + field_type + "\" >" + result.field_type_name + "</label>";
                    html_code += "<select required class=\"form-control\" name=\"field_parent_" + field_type + "\" id=\"field_parent_" + field_type + "\" onchange = \"filtering(this," + response[field_type] + ")\" >";
                    html_code += "<option  value=\"\">Select One</option>";
                    for (i = 0; i < result.field_name.length; i++) {
                        html_code += "<option value=\"" + result.field_id[i] + "\">" + result.field_name[i] + "</option>";
                    }
                    html_code += "</select>";
                    $(".field_parent").append(html_code);
                }
            });
        }


        function filtering(filter, field_type_id) {
             ajaxcall();
            var start = field_type_id;
            while (start != objet) {
                console.log("field_parent_" + start + "");
                $("#field_parent_" + start + "").remove();
                $("#field_parent_" + start + "").remove();
                start = response[start];
            }
            var field_parent_id = Number(filter.value);
            $.ajax({
                async: false,
                url: '/usermodule/filtering/', // form action url
                type: 'POST', // form submit method get/post
                dataType: 'json', // request type html/json/xml
                data: {'field_parent_id': field_parent_id, 'field_type_id': field_type_id},
                success: function (result) {
                    //console.log("field_type "+ result.field_type);
                    html_code = "<label class=\"control-label\" id=\"field_parent_" + field_type_id + "\">" + result.field_type + "</label>";
                    html_code += "<select align=\"center\" required class=\"form-control\" name =\"field_parent_" + field_type_id + "\"  id=\"field_parent_" + field_type_id + "\" onchange = \"filtering(this," + response[field_type_id] + ")\" >";
                    html_code += "<option value=\"\" >Select One</option>";
                    for (i = 0; i < result.field_name.length; i++) {
                        html_code += "<option value=\"" + result.field_id[i] + "\">" + result.field_name[i] + "</option>";
                    }
                    html_code += "</select>";
                    geocode = result.geocode;
                    parent_geocode = result.parent_geocode;
                    if(parent_geocode !=-1  )
                    $('#parent_geocode').html(parent_geocode);
                    else $('#parent_geocode').html("");
                    console.log(geocode);
                    if (field_type_id != objet)
                        $(".field_parent").append(html_code);

                }
            });

        }

        var geocode=[];
        var parent_geocode="";
        var division_geocode = {{ division_geocode|safe }};
        geocode = division_geocode
        console.log(geocode);
        $('#alert_geocode').hide();
        $('#alert_geocode_length').hide();
        
        $('#geocode').on('keyup',function () {
            $('#alert_geocode_length').hide();
           var geo_value = parent_geocode.concat($('#geocode').val());
           if(geocode.includes(geo_value))
                $('#alert_geocode').show();
           else $('#alert_geocode').hide();

        });

        $('#submit').on('click',function () {
            $('#alert_geocode_length').hide();
            var geo_value = parent_geocode.concat($('#geocode').val());
            if(geocode.includes(geo_value))
            {
                $('#alert_geocode').show();
                return false;
            }

            else {
                value = $('#geocode').val();
                if(value.length ==0 || value.length%2 != 0)
                {
                    $('#alert_geocode_length').show();
                    return false;
                }
                $('#geocode').val(parent_geocode.concat($('#geocode').val()));
                $('#alert_geocode').hide();
                
                return true;
            }


        });



    </script>
{% endblock %}