{% extends 'base_test.html' %}
{% load i18n %}
{% block additional-headers %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link href="/static/css/calendar.min.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
     .modal
     {
      position: fixed;
  top: 50%;
  left: 10%;
  
     }

    </style>

{% endblock %}


{% block content %}
<div class="modal" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Alert</h4>
                </div>

                <div class="modal-body">
                    <p>Do Not Select Same Activity More Than Once</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    
                </div>
            </div>
        </div>
        
</div>

    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i> District and Central Level Activities Form
            </div>
        </div>

        <div class="portlet-body">
            <form class="horizontal-form" id="" method="post" action="/planmodule/insert_dca_form/"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Registraion Date: </label>
                                <div class="ui calendar"  id="registration_date">
                                    <input type="text" class="form-control" name="registration_date"  readonly>
                                </div>
                                <span style="color:red;font-weight:bold" id ="alert_date">No Date Selected</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Activity Level:&nbsp;&nbsp;</label>
                                <label class="radio-inline"><input type="radio" id="activity_level1" name="activity_level" value="1">Central</label>
                                <label class="radio-inline"><input type="radio" id="activity_level2" name="activity_level" value="2" required>District</label>

                            </div>
                        </div>
                    </div>

                        <div id="level">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>District: </label>
                                    <select class="form-control" name="district" id="district"
                                            onclick="load_upazila(this)">
                                        <option value="">Select One</option>
                                        {% for dist_id,dist_name in district %}
                                            <option value="{{ dist_id }}">{{ dist_name }}</option>
                                        {% endfor %}
                                    </select>
                                <span style="color:red;font-weight:bold" id ="alert_district">No District Selected</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Upazila: </label>
                                    <select class="form-control" name="upazilla" id="upazilla">
                                        <option value="">Select One</option>
                                    </select>
                                    <span style="color:red;font-weight:bold" id ="alert_upazilla">No Upazilla Selected</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="">PNGO:</label>
                                    <textarea class="form-control" readonly>{{ org_name }}</textarea>
                                    <input type="hidden" class="form-control" name="org_id" id="org_id"
                                           value="{{ org_id }}">
                                </div>
                            </div>
                        </div>

                    </div>


                    <div id="test">
                        <div id="loop">
                        <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Activity Name">Activity Name:</label>
                                <select class="form-control" name="activity_name" id="activity_name" required>
                                    <option value="">Select One</option>
                                    {% for act_id,act_name in activity %}
                                        <option value="{{ act_id }}">{{ act_name }}</option>
                                    {% endfor %}
                                </select>
{#                            <span style="color:red;font-weight:bold" id ="alert_activity">No Activity Selected</span>#}
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="">Boys/Males:</label>
                                <input type="number" min="0" class="form-control" name="males"
                                       id="males" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="">Girls/Females:</label>
                                <input type="number" min="0" class="form-control" name="females"
                                       id="females" required>
                            </div>
                        </div>
                    </div>

                    </div>

                    </div>






                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-lg" type="button" id="plus">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button class="btn btn-lg" type="button" id="minus">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </div>
                    </div>
                </div>



                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-danger pull-left" id="submit" name="submit" type="submit"
                                    data-original-title=""
                                    title="">Submit
                            </button>
                            <button onclick="history.go(-1);" style="margin-left:10px;" type="button"
                                    class="btn btn-info pull-left" data-original-title="" title="">Cancel
                            </button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>


{% endblock %}

{% block additional-javascript %}

{#    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>#}
     <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script type="text/javascript" src="/static/js/calendar.min.js"></script>
    <script>
        
    // function centerModal() {
    //     $(this).css('display', 'block');
    //     var $dialog  = $(this).find(".modal-dialog"),
    //     offset       = ($(window).height() - $dialog.height()) / 2,
    //     bottomMargin = parseInt($dialog.css('marginBottom'), 10);

    //     // Make sure you don't hide the top part of the modal w/ a negative margin if it's longer than the screen height, and keep the margin equal to the bottom margin of the modal
    //     if(offset < bottomMargin) offset = bottomMargin;
    //     $dialog.css("margin-top", offset);
    // }

    // // $(document).on('show.bs.modal', '.modal', centerModal);
    // $(window).on("resize", function () {
    //     $('.modal:visible').each(centerModal);
    // });


        var loop = $("div.loop").clone();

        $('#alert_date').hide();
{#        $('#alert_activity').hide();#}
        $('#alert_district').hide();
        $('#alert_upazilla').hide();

{#        $('#activity_name').dropdown();#}
        $('#level').hide();


        $('#plus').on('click',function () {
            $("#loop").clone().appendTo("#test").find("input[type='number']").val("");
        });

        $('#minus').on('click',function () {
            if($('#test').children().length!=1)
             $('#test').children().last().remove();

        });


        $('#activity_level2').on('click',function () {
            $('#district').html("<option value=\"\">Select One</option><option value=\"9377\">Rangpur</option>");
             $('#upazilla').html("<option value=\"\">Select One</option>");
            $('#level').show();

        });

        $('#activity_level1').on('click',function () {
            $('#level').hide();
            $('#district').html("<option value=\"\">Select One</option><option value=\"9377\">Rangpur</option>");
             $('#upazilla').html("<option value=\"\">Select One</option>");
        });

        $('#confirm-delete').modal()     
       $('#submit').on('click',function () {
           reg = $('#registration_date').calendar('get date');
           if(!reg)
           {
                $('#alert_date').show();return false;

           }
           else $('#alert_date').hide();


{#           activity_name = value_filter($('#activity_name').dropdown('get value'));#}
{#           if(!activity_name[0])#}
{#           {#}
{#               $('#alert_activity').show();return false;#}
{#           }#}
{#           else $('#alert_activity').hide();#}


           activity_level2 = $('#activity_level2:checked').val();
           console.log(activity_level2);
           if(activity_level2)
           {
               district = $('#district').val();
               upazilla = $('#upazilla').val();
               if(!district)
               {
                   $('#alert_district').show();
                   return false;
               }
               else $('#alert_district').hide();
               if(!upazilla)
               {
                   $('#alert_upazilla').show();
                   return false;
               }
               else $('#alert_upazilla').hide();

           }
           
            i_cnt = 0
            all_ids = []
            $("[id]").each(function(){
                if($(this).attr("id")=="activity_name"){
                    i_cnt++;
                    all_ids.push($(this).val());
                }
            });
            if(all_ids.length != $.unique(all_ids).length)
            {
                // $('#confirm-delete').show();
                $('#confirm-delete').modal('toggle'); 
                return false;
            }
           
           

       });

        $('#registration_date').calendar({
            type: 'date',
            popupOptions: {
                position: 'bottom right'
            },
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';

                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();

                    if (day < 10) {
                        day = '0' + day
                    }
                    if (month < 10) {
                        month = '0' + month
                    }
                    return year + '-' + month + '-' + day;
                }
            }
        });

        function value_filter(some) {
                return some.slice(0, some.length - 1);
            }



        function ajaxcall() {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
        }


        function load_upazila(dist_object) {
            ajaxcall();
            dist = parseInt(dist_object.value)
            console.log(dist);
            if (isNaN(parseFloat(dist))) {
                $('#upazilla').html("<option value=\"\">Select One</option>");
            }
            else {

                $.ajax({
                    url: '/planmodule/getUpazilas/',
                    type: 'POST',
                    dataType: 'json',
                    data: {'dist': dist},
                    {#                    beforeSend: function () {#}
                    {#                        $("#all_info_table").html('<div class="alert alert-success">Please Wait...loading....</div>');#}
                    {#                    },#}
                    success: function (result) {
                        console.log(result);
                        var html_code = "<option value=\"\">Select One</option>";

                        for (i = 0; i < result.length; i++) {
                            html_code += "<option value=\"" + result[i].id + "\"> " + result[i].field_name + "</option>";
                        }
                        $('#upazilla').html(html_code);


                    }
                });
            }

        }

    </script>

{% endblock %}