{% extends 'base_test.html' %}
{% load i18n %}
{% block additional-headers %}

    <style>

    #loop
    {
        background-color: #EEE;
    padding: 10px;
    margin-bottom: 11px;
    }

    </style>

{% endblock %}

{% block content %}

    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i>Update Victim Info
            </div>
        </div>

        <div class="portlet-body">
            <form class="horizontal-form" id="" method="post" action="/asf/update_victim/{{ victim_tbl_id }}/" id="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Victim ID: </label>
                                <input type="text" class="form-control" name="victim_id" id="victim_id" readonly required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Victim Name: </label>
                                <input type="text" class="form-control" name="victim_name" id="victim_name" required>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Gender:</label>
                                <select class="form-control" id="victim_sex" name="victim_sex" required="">
                                    <option value="">Select One</option>
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                    <option value="Transgender">Transgender</option>

                                </select>
                            </div>
                        </div>
                    </div>

                    </div>
            <hr>


                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label > Birth Date: </label>
                                 <input type="text" class="datepicker form-control" name="birth_date" id="birth_date" readonly>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label > Approx. Age: </label>
                                 <input class="form-control" name="victim_age" id="victim_age" type="number" min="0" required="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label > Contact No: </label>
                                 <input class="form-control" name="mobile" id="mobile" pattern="^(?:\+88|01)?(?:\d{11}|\d{13})$" type="text" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label > Contact No: </label>
                                 <input class="form-control" name="mobile2" id="mobile2" pattern="^(?:\+88|01)?(?:\d{11}|\d{13})$" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Do You have any ID?: </label>
                                <select class="form-control" name="any_nid_brn_passport" id="any_nid_brn_passport">
                                        <option value="">Select One</option>
                                        <option value="BRN">BRN</option>
                                        <option value="NID">NID</option>
                                    <option value="Passport information">Passport information</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>ID: </label>
                                <input class="form-control" name="nid_brn_passport" id="nid_brn_passport" pattern="^(?:\d{11,17})$" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Educaitonal Level: </label>
                                <select class="form-control" name="education" id="education">
                                    <option value="">Select One</option>
                                    <option value="Nil">Nil</option>
                                    <option value="Primary">Primary</option>
                                    <option value="Junior Secondary">Junior Secondary</option>
                                    <option value="SSC/Equivalence">SSC/Equivalence</option>
                                    <option value="HSC/Equivalence">HSC/Equivalence</option>
                                    <option value="Graduation">Graduation</option>
                                    <option value="Post Graduation">Post Graduation</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Occupation: </label>
                                 <input class="form-control" name="occupation" id="occupation" type="text">
                            </div>
                        </div>
                        <div class="col-md-3" id="div_maritial_status">
                            <div class="form-group">
                                <label>Marital Status: </label>
                                <select class="form-control" name="maritial_status" id="maritial_status">
                                    <option value="">Select One</option>
                                    <option value="Married">Married</option>
                                    <option value="Unmarried">Unmarried</option>
                                    <option value="Conjugal Separation">Conjugal Separation</option>
                                    <option value="Divorced">Divorced</option>
                                    <option value="Widow/widower">Widow/widower</option>
                                </select>
                            </div>
                        </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Father Name: </label>
                            <input class="form-control" name="father_name" id="father_name" type="text" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Mother Name: </label>
                            <input class="form-control" name="mother_name" id="mother_name" type="text" required>
                        </div>
                    </div>
                    <div class="col-md-3" id="div_spouse_name">
                        <div class="form-group">
                            <label>Spouse Name: </label>
                            <input class="form-control" name="spouse_name" id="spouse_name" type="text">
                        </div>
                    </div>
                     <div class="col-md-3">
                            <div class="form-group">
                                <label>Victim's Picture:</label>
                                <input id="picture" name="picture" type="file">
                            </div>
                        </div>


                </div>
                <hr>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4><strong>Present Address</strong></h4>
                    </div>
                </div>
                <div class="col-md-3">
                            <div class="form-group">
                                <label >Division: </label>
                                <select class="form-control" name="current_division" id="current_division" onclick="load_district(this,'current_')" required>
                                        <option value="">Select One</option>
                                        {% for id,field_name in divisions %}
                                            <option value="{{ id }}">{{ field_name }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >District: </label>
                                <select class="form-control" name="current_district" id="current_district" onclick="load_upazila(this,'current_')" required>
                                        <option value="">Select One</option>
                                        {% for id,field_name in current_districts %}
                                            <option value="{{ id }}">{{ field_name }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>

                    <div class="col-md-3">
                            <div class="form-group">
                                <label >Upazila: </label>
                                <select class="form-control" name="current_upazila" id="current_upazila" onclick="load_union(this,'current_')" required>
                                    <option value="">Select One</option>
                                    {% for id,field_name in current_upazilas %}
                                            <option value="{{ id }}">{{ field_name }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                        </div>
                    <div class="col-md-3">
                    <div class="form-group">
                        <label>Union: </label>
                        <select class="form-control" name="current_union" id="current_union" onclick="load_ward(this,'current_')" required>
                            <option value="">Select One</option>
                            {% for id,field_name in current_unions %}
                                            <option value="{{ id }}">{{ field_name }}</option>
                                        {% endfor %}
                        </select>
                    </div>
                </div>
                    <div class="col-md-3">
                    <div class="form-group">
                        <label>Ward: </label>
                        <select class="form-control" name="current_ward" id="current_ward" >
                            <option value="">Select One</option>
                            {% for id,field_name in current_wards %}
                                            <option value="{{ id }}">{{ field_name }}</option>
                                        {% endfor %}
                        </select>
                    </div>
                </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address (Village/Moholla/ Road No / House No):</label>
                                <input class="form-control" name="current_address" id="current_address" type="text" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Post Office:</label>
                                <input class="form-control" name="current_postoffice" id="current_postoffice" type="text">
                            </div>
                        </div>

{#            <div class="col-md-3">#}
{#                            <div class="form-group">#}
{#                                <label>Is permanent address is same as present address: </label>#}
{#                                <select class="form-control" name="present_permanent_address_same" id="present_permanent_address_same" onclick="load_perm_addr(this)" required>#}
{#                                    <option value="">Select One</option>#}
{#                                    <option value="Yes">Yes</option>#}
{#                                    <option value="No">No</option>#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
            <div class="col-md-3">
                    <div class="form-group">
                        <label>Is permanent address is same as present address: </label>
                        <label class="radio-inline"><input type="radio" name="present_permanent_address_same" id="present_permanent_address_same1" onclick="load_perm_addr()" value="Yes">Yes</label>
                        <label class="radio-inline"><input type="radio" name="present_permanent_address_same" id="present_permanent_address_same2" onclick="load_perm_addr()" value="No">No</label>
                    </div>
                </div>
            </div>

            <div class="row" id = "block">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4><strong>Permanent Address</strong></h4>
                    </div>
                </div>
                <div class="col-md-3" >
                            <div class="form-group">
                                <label >Division: </label>
                                <select class="form-control" name="permanent_division" id="permanent_division" onclick="load_district(this,'permanent_')" required>
                                        <option value="">Select One</option>
                                        {% for id,field_name in divisions %}
                                            <option value="{{ id }}">{{ field_name }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >District: </label>
                                <select class="form-control" name="permanent_district" id="permanent_district" onclick="load_upazila(this,'permanent_')" required>
                                        <option value="">Select One</option>
                                        {% for id,field_name in permanent_districts %}
                                            <option value="{{ id }}">{{ field_name }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>

                    <div class="col-md-3">
                            <div class="form-group">
                                <label >Upazila: </label>
                                <select class="form-control" name="permanent_upazila" id="permanent_upazila" onclick="load_union(this,'permanent_')" required>
                                    <option value="">Select One</option>
                                    {% for id,field_name in permanent_upazilas %}
                                            <option value="{{ id }}">{{ field_name }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                        </div>
                    <div class="col-md-3">
                    <div class="form-group">
                        <label>Union: </label>
                        <select class="form-control" name="permanent_union" id="permanent_union" onclick="load_ward(this,'permanent_')" required>
                            <option value="">Select One</option>
                            {% for id,field_name in permanent_unions %}
                                            <option value="{{ id }}">{{ field_name }}</option>
                                        {% endfor %}
                        </select>
                    </div>
                </div>
                    <div class="col-md-3">
                    <div class="form-group">
                        <label>Ward: </label>
                        <select class="form-control" name="permanent_ward" id="permanent_ward" >
                            <option value="">Select One</option>
                            {% for id,field_name in permanent_wards %}
                                            <option value="{{ id }}">{{ field_name }}</option>
                                        {% endfor %}
                        </select>
                    </div>
                </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address (Village/Moholla/ Road No / House No):</label>
                                <input class="form-control" name="permanent_address" id="permanent_address" type="text" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Post Office:</label>
                                <input class="form-control" name="permanent_postoffice" id="permanent_postoffice" type="text">
                            </div>
                        </div>


            </div>

<hr>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Burn Injury Details:</label>
                                <textarea class="form-control" name="injury_details" id="injury_details" rows = "5" cols = "50" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >Notified within 24 hours of<br>Attack: </label>
                                <select class="form-control" name="notified_within_24h" id="notified_within_24h" required>
                                        <option value="">Select One</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                            </div>
                        </div>
                    <div class="col-md-3">
                            <div class="form-group">
                                <label >Verification Completed within 24 hours of notification: </label>
                                <select class="form-control" name="verification_within_24h" id="verification_within_24h" required>
                                        <option value="">Select One</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                            </div>
                        </div>

                    <div class="col-md-3">
                            <div class="form-group">
                                <label >Brought to ASF within 48 hours of Notification: </label>
                                <select class="form-control" name="brought_asf_within_48h" id="brought_asf_within_48h" required>
                                        <option value="">Select One</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                            </div>
                        </div>

                    </div>





                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-danger pull-left" id="submit" name="submit" type="submit"
                                    data-original-title=""
                                    title="">Submit
                            </button>
                            <button onclick="history.go(-1);" style="margin-left:10px;" type="button"
                                    class="btn btn-info pull-left" data-original-title="" title="">Cancel
                            </button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block additional-javascript %}


    <script>
var victim_id=$('#victim_id').val('{{victim_id | safe}}');
var victim_name=$('#victim_name').val('{{victim_name | safe}}');
var victim_sex=$('#victim_sex').val('{{victim_sex | safe}}');
var birth_date=$('#birth_date').val('{{birth_date | safe}}');
var victim_age=$('#victim_age').val('{{victim_age | safe}}');
var mobile=$('#mobile').val('{{mobile | safe}}');
var mobile2=$('#mobile2').val('{{mobile2 | safe}}');
var any_nid_brn_passport=$('#any_nid_brn_passport').val('{{any_nid_brn_passport | safe}}');
var nid_brn_passport=$('#nid_brn_passport').val('{{nid_brn_passport | safe}}');
var education=$('#education').val('{{education | safe}}');
var occupation=$('#occupation').val('{{occupation | safe}}');
var maritial_status=$('#maritial_status').val('{{maritial_status | safe}}');
var father_name=$('#father_name').val('{{father_name | safe}}');
var mother_name=$('#mother_name').val('{{mother_name | safe}}');
var spouse_name=$('#spouse_name').val('{{spouse_name | safe}}');
var current_division=$('#current_division').val('{{current_division | safe}}');
var current_district=$('#current_district').val('{{current_district | safe}}');
var current_upazila=$('#current_upazila').val('{{current_upazila | safe}}');
var current_union=$('#current_union').val('{{current_union | safe}}');
var current_ward=$('#current_ward').val('{{current_ward | safe}}');
var current_address=$('#current_address').val('{{current_address | safe}}');
var current_postoffice=$('#current_postoffice').val('{{current_postoffice | safe}}');

var present_permanent_address_same= '{{ present_permanent_address_same | safe }}';


var permanent_division=$('#permanent_division').val('{{permanent_division | safe}}');
var permanent_district=$('#permanent_district').val('{{permanent_district | safe}}');
var permanent_upazila=$('#permanent_upazila').val('{{permanent_upazila | safe}}');
var permanent_union=$('#permanent_union').val('{{permanent_union | safe}}');
var permanent_ward=$('#permanent_ward').val('{{permanent_ward | safe}}');
var permanent_address=$('#permanent_address').val('{{permanent_address | safe}}');
var permanent_postoffice=$('#permanent_postoffice').val('{{permanent_postoffice | safe}}');
var injury_details=$('#injury_details').val('{{injury_details | safe}}');
var notified_within_24h=$('#notified_within_24h').val('{{notified_within_24h | safe}}');
var verification_within_24h=$('#verification_within_24h').val('{{verification_within_24h | safe}}');
var brought_asf_within_48h=$('#brought_asf_within_48h').val('{{brought_asf_within_48h | safe}}');

if(present_permanent_address_same =='Yes')
{
    $('#present_permanent_address_same1').attr('checked','true');
    load_perm_addr();
}
else
{
    $('#present_permanent_address_same2').attr('checked','true');
}



 $(function () {
            $('#birth_date').datepicker({
                endDate: '0d',
                format: 'dd/mm/yyyy',
                todayHighlight: true
            }).on('changeDate', function () {
                $(this).datepicker('hide');
            });

        });



$('#submit').on('click',function () {

});


        function ajaxcall() {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
        }

        function load_district(object,ext) {
            $('#'+ext+'upazila').html("<option value=\"\">Select One</option>");
            $('#'+ext+'union').html("<option value=\"\">Select One</option>");
            $('#'+ext+'ward').html("<option value=\"\">Select One</option>");
            div = parseInt(object.value)
            // console.log(dist);
            if (isNaN(parseFloat(div))) {
                $('#'+ext+'district').html("<option value=\"\">Select One</option>");

            }
            else {

                $.ajax({
                    url: '/asf/get_districts/',
                    type: 'POST',
                    dataType: 'json',
                    data: {'div': div},
                    {#                    beforeSend: function () {#}
                    {#                        $("#all_info_table").html('<div class="alert alert-success">Please Wait...loading....</div>');#}
                    {#                    },#}
                    success: function (result) {
                        console.log(result);
                        var html_code = "<option value=\"\">Select One</option>";

                        for (i = 0; i < result.length; i++) {
                            html_code += "<option value=\"" + result[i].id + "\"> " + result[i].field_name + "</option>";
                        }
                        $('#'+ext+'district').html(html_code);


                    }
                });
            }

        }


        function load_upazila(dist_object,ext) {
            $('#'+ext+'union').html("<option value=\"\">Select One</option>");
                $('#'+ext+'ward').html("<option value=\"\">Select One</option>");
            ajaxcall();
            dist = parseInt(dist_object.value)
            // console.log(dist);
            if (isNaN(parseFloat(dist))) {
                $('#'+ext+'upazila').html("<option value=\"\">Select One</option>");

            }
            else {

                $.ajax({
                    url: '/asf/get_upazilas/',
                    type: 'POST',
                    dataType: 'json',
                    data: {'dist': dist},
                    {#                    beforeSend: function () {#}
                    {#                        $("#all_info_table").html('<div class="alert alert-success">Please Wait...loading....</div>');#}
                    {#                    },#}
                    success: function (result) {
                        console.log(result);
                        var html_code = "<option value=\"\">Select One</option>";

                        for (i = 0; i < result.length; i++) {
                            html_code += "<option value=\"" + result[i].id + "\"> " + result[i].field_name + "</option>";
                        }
                        $('#'+ext+'upazila').html(html_code);


                    }
                });
            }

        }


        function load_union(upz_object,ext) {
            $('#'+ext+'ward').html("<option value=\"\">Select One</option>");

            upz = parseInt(upz_object.value);
            if (isNaN(parseFloat(upz))) {
                $('#union').html("<option value=\"\">Select One</option>");

            }
            else {

                $.ajax({
                    url: '/asf/get_unions/',
                    type: 'POST',
                    dataType: 'json',
                    data: {'upz': upz},

                    success: function (result) {
                        console.log(result);
                        var html_code = "<option value=\"\">Select One</option>";

                        for (i = 0; i < result.length; i++) {
                            html_code += "<option value=\"" + result[i].id + "\"> " + result[i].field_name + "</option>";
                        }
                        $('#'+ext+'union').html(html_code);


                    }
                });
            }

        }

        function load_ward(upz_object,ext) {
            uni = parseInt(upz_object.value);
            if (isNaN(parseFloat(upz))) {
                $('#'+ext+'ward').html("<option value=\"\">Select One</option>");
            }
            else {

                $.ajax({
                    url: '/asf/get_wards/',
                    type: 'POST',
                    dataType: 'json',
                    data: {'uni': uni},

                    success: function (result) {
                        console.log(result);
                        var html_code = "<option value=\"\">Select One</option>";

                        for (i = 0; i < result.length; i++) {
                            html_code += "<option value=\"" + result[i].id + "\"> " + result[i].field_name + "</option>";
                        }
                        $('#'+ext+'ward').html(html_code);


                    }
                });
            }

        }



    function load_perm_addr() {

        console.log($('#present_permanent_address_same1').is(':checked'))
        if($('#present_permanent_address_same1').is(':checked'))
        {
            $('#permanent_division').val($('#current_division').val());


            $('#permanent_district').html('<option value="'+$('#current_district option:selected').val()+'">'+$('#current_district option:selected').text()+'</option>');

            $('#permanent_upazila').html('<option value="'+$('#current_upazila option:selected').val()+'">'+$('#current_upazila option:selected').text()+'</option>');

            $('#permanent_union').html('<option value="'+$('#current_union option:selected').val()+'">'+$('#current_union option:selected').text()+'</option>');

            $('#permanent_ward').html('<option value="'+$('#current_ward option:selected').val()+'">'+$('#current_ward option:selected').text()+'</option>');
            $('#permanent_address').val($('#current_address').val());
            $('#permanent_postoffice').val($('#current_postoffice').val());

          $('#block').block({message: null,
              overlayCSS:  {
        backgroundColor: '#eee',
        opacity:         0.4,
        cursor:          'default'
    },

          });


        }
        else {
            $('#block').unblock();
            $('#permanent_division').val("");
            $('#permanent_district').html('<option value="">Select One</option>');

            $('#permanent_upazila').html('<option value="">Select One</option>');

            $('#permanent_union').html('<option value="">Select One</option>');

            $('#permanent_ward').html('<option value="">Select One</option>');
            $('#permanent_address').val("");
            $('#permanent_postoffice').val("");
        }

    }



        function getDesiredDate(n) {
            var today = new Date();
            var n_month_before_today = new Date(today);
            n_month_before_today.setMonth((today.getMonth() + 1) - n);
            var dd = n_month_before_today.getDate();
            var mm = n_month_before_today.getMonth() + 1;

            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }
            var yyyy = n_month_before_today.getFullYear();
            formatted_date = yyyy + '-' + mm + '-' + dd;
            return formatted_date;
        }

    $('#div_spouse_name').hide();
    $('#div_maritial_status').hide();

    $('#victim_age').change(function () {
        victim_age = parseInt($('#victim_age').val());
        if(victim_age>15)
        {
            $('#div_maritial_status').show();
            $('#maritial_status').attr('required','true');
        }
        else
        {
            $('#div_maritial_status').hide();
            $('#maritial_status').removeAttr('required');
        }

    });

    $('#maritial_status').on('click',function () {
        maritial_status = $('#maritial_status option:selected').val()
        if(maritial_status == 'Married')
        {
            $('#div_spouse_name').show();
            $('#spouse_name').attr('required','true');
        }
        else
        {
            $('#div_spouse_name').hide();
            $('#spouse_name').removeAttr('required');
        }


    });
{#        $('#registration_date').val(getDesiredDate(2));#}

    </script>

{% endblock %}