{% extends 'base_test.html' %}
{% load i18n %}
{% block additional-headers %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
{% endblock %}



{% block content %}

    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption"><i class="fa fa-adn"></i>Paper Clipping</div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>From Date: </label>
                        <input type="text" class="datepicker form-control" name="from_date" id="from_date" readonly>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>To Date: </label>
                        <input type="text" class="datepicker form-control" name="to_date" id="to_date" readonly>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-info pull-left" id="generate_report" style="margin-right: 10px" id="generate_report"
                            title=""><i class="fa fa-2x fa fa-search-plus"></i>Search
                    </button>
                    <a href="/asf/paper_clipping_form/" class="pull-right">

                        <button type="submit" class="btn btn-info pull-left" id="add_new" data-original-title=""
                                title=""><i class="fa fa-2x fa-plus"></i>New Form
                        </button>
                    </a>
                </div>
            </div>
            <br>
        <div style="display:none;" id="container"><img style=" width: 86px; margin-left: 434px;" src="/static/images/Spinner.gif"></div>
            <table id="all_info_table" class="table table-bordered table-striped table-condensed flip-content nowrap">
                <thead class="flip-content">
                <tr>
                            <th>News Paper Name</th>
<th>Publish Date </th>
<th>Page No </th>
<th>Catagory </th>
<th>Remarks</th>

                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>


    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>

                <div class="modal-body">
                    <p>You are about to delete a facility info, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="#" class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block additional-javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>


    <script>
        $(function () {
            $('#from_date').datepicker({
                endDate: '0d',
                format: 'dd/mm/yyyy',
                todayHighlight: true
            }).on('changeDate', function () {
                $(this).datepicker('hide');
            });

            $('#to_date').datepicker({
                endDate: '0d',
                format: 'dd/mm/yyyy',
                todayHighlight: true
            }).on('changeDate', function () {
                $(this).datepicker('hide');
            });
        });

        var dateObj = moment();
        var prevDateObj = moment().subtract(30, 'd');
        $('#from_date').val(prevDateObj.format('DD/MM/YYYY'));
        $('#to_date').val(dateObj.format('DD/MM/YYYY'));




            var table = $('#all_info_table').DataTable({
                "scrollX": true, "ordering": false,
                deferRender: true,
                {#            dom: 'Bfrtip'#}
                {#            ,#}
                {#            buttons: [#}
                {#                {#}
                {#                    filename: "Fo",#}
                {#                    title: "",#}
                {#                    text: "<strong>Export</strong>",#}
                {#                    extend: 'excel'#}
                {#                }#}
                {#            ]#}

            });







        $('.delete-item').on('click', function (e) {
            var criteria_id = $(this).attr("data-href");
            $('.btn-ok').attr("href", criteria_id);
        });

        if ($('.alert-block').is(':visible')) {
            window.setTimeout(function () {
                $(".alert-success").fadeTo(1500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 5000);
        }


        $('#generate_report').on('click', function (e) {

                table.destroy();


                var from_date   = $('#from_date').val();
                var to_date     = $('#to_date').val();



                $.ajax({
                    url: '/asf/get_paper_clipping_list/',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                          'from_date'   : from_date
                        , 'to_date'     : to_date
                    },
                    beforeSend: function () {
                        $('#container').show();

                    },
                    success: function (list) {
                        $('#container').hide();
                            var tbody = '';
                        for (var idx in list) {
                            tbody += '<tr><td>' + list[idx].newspaper_name + '</td> <td>' + list[idx].news_publish_date + '</td> <td>' + list[idx].newspaper_page_no + '</td> <td>' + list[idx].category + '</td> <td>' + list[idx].remarks + '</td> </tr>';
                        }
                        $("#all_info_table").find('tbody').html(tbody);
                        table = datatable_reinitialize();


                    }
                });


            });
        $('#generate_report').trigger('click');
        function datatable_reinitialize() {
            return $('#all_info_table').DataTable({
                "scrollX": true, "ordering": false,"iDisplayLength": 50,
                deferRender: true,
{#                dom: 'Bfrtip'#}
{#                ,#}
{#                buttons: [#}
{#                    {#}
{#                        filename: "CSA Report",#}
{#                        title: "",#}
{#                        text: "<strong>Export</strong>",#}
{#                        extend: 'excelHtml5'#}
{#                    }#}
{#                ]#}

            });
        }

        function load_district(object) {

            div = parseInt(object.value)

            if (isNaN(parseFloat(div))) {
                $('#district').html("<option value=\"%\">Select One</option>");

            }
            else {

                $.ajax({
                    url: '/asf/get_districts/',
                    type: 'POST',
                    dataType: 'json',
                    data: {'div': div},
                    {#                    beforeSend: function () {#}
                    {#                        $("#all_info_table").html('<div class="alert alert-success">Please Wait...loading....</div>');#}
                    {#                    },#}
                    success: function (result) {
                        console.log(result);
                        var html_code = "<option value=\"%\">Select One</option>";

                        for (i = 0; i < result.length; i++) {
                            html_code += "<option value=\"" + result[i].id + "\"> " + result[i].field_name + "</option>";
                        }
                        $('#district').html(html_code);


                    }
                });
            }

        }
    </script>
{% endblock %}